<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Signal Sense</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/app.js"></script>
        <!-- Jquery goodness-->
        <script src="js/homepage.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<style>
		body {
  	font-family: 'Inter', sans-serif;
  	color: #666666;
	background-color: #f7fafc;
	font-size: 16px;
	padding-bottom: 5rem;
}

.headline {
	font-size: 1.25rem;
	font-weight: 600;
}

.text--small {
	font-size: 0.875rem;
}

a {
	color: #606FC7;
	font-weight: 600;
}

a:hover {
	color: #434190;
}

i {
	position: absolute;
	padding: 0.75rem;
	color: #606FC7;
}

span.icon {
	position: absolute;
	padding: 0.5rem;
	right: 0;
}

.header {
	background-color: white;
	padding: 1rem;	
	padding-bottom: 2.5rem;
}

.header__grid {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, 1fr));
	gap: 1.5rem;
	max-width: 56rem;
}

.header__logo {
	height: 4rem;
}

.header__label {
	text-transform: uppercase;
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.875rem;
	font-weight: 600;
	color: #718096;
}

.content {
	padding: 1rem;
	width: 100%;
}

.content__grid {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(3, minmax(0, 1fr));
	max-width: 56rem;
	column-gap: 1rem;
	row-gap: 2.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1 1 0%;
}

.relative {
	position: relative;
}

.col-6-m3 {
	grid-column: span 6 / span 6;
}

.col-12-s6-m4, .col-12-m6, .col-12-m8, .col-12 {
	grid-column: span 12 / span 12;
}

.result {
	max-width: 56rem;
}

.result__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;	
}

.divider {
	border-width: 1px;
	border-color: #cbd5e0;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	height: 0;
}

input:disabled {
	background-color: white;
}

.input {
	border-width: 1px;
	border-color: #cbd5e0;
	border-radius: 0.25rem;
	height: 2.5rem;
	width: 100%;
	padding-left: 0.5rem;
	padding-right: 0.5rem;	
}

.input--left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -1rem;
}

.input__icon {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.input__label {
	margin-bottom: 0.5rem;
	display: block;
}

.bttn {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	background-color: white;
	border-width: 1px;
	border-color: #cbd5e0;
	margin-right: -0.5rem;
	height: 2.5rem;
}

.bttn.fill {
	width: 50%;
}

.bttn:focus {
	outline: 1px dotted;
}

.bttn:hover {
	background-color: #edf2f7;
}

.left {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
}

.right {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	margin-right: 0;
}

.bttn.active {
	background-color: #606FC7;
	color: white;
	border-width: 1px;
	border-color: #606FC7;
}

.bttn__primary {
	background-color: #606FC7;
	color: white;
	border-width: 1px;
	border-color: #606FC7;
	border-radius: 0.25rem;
	font-size: 1.125rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.bttn.active:hover, .bttn__primary:hover {
	background-color: #4c51bf;
}

.codeblock {
	border-width: 1px;
	border-color: #cbd5e0
	border-radius: 0.25rem;
	display: block;
	padding: 0.75rem;
	background-color: white;	
}

#urlContainer {
	display: none;
}

/* small breakpoint */
@media (min-width: 640px) { 
	.header {
		padding: 2.5rem;
	}	
	.header__grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: repeat(2, minmax(0, 1fr));
	}
	.header__logo {
		grid-column: span 2 / span 2;
	}
	.content {
		padding: 2.5rem;
	}
	.content__grid {
		column-gap: 1rem;
		row-gap: 2.5rem;
	}
	.col-12-s6-m4 {
		grid-column: span 6 / span 6;
	}
}

/* medium breakpoint */
@media (min-width: 768px) {
	.header__grid {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		grid-template-rows: repeat(1, minmax(0, 1fr));
	}
	.header__logo {
		grid-column: span 1 / span 1;
	}
	.col-6-m3 {
		grid-column: span 3 / span 3;
	}
	.col-12-s6-m4 {
		grid-column: span 4 / span 4;	
	}
	.col-12-m6 {
		grid-column: span 6 / span 6;
	}
	.col-12-m8 {
		grid-column: span 8 / span 8;
	}
	.bttn {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
	
#resultContainer {
	display: none;
}
	</style>

<script>

 $(document).ready(function () {
	retrieveDefaultValuesFromLocalStorage();
	setupButtonListeners();

	$("#urlButton").click()
        })


var infer = function() {
	$('#output').html("Inferring...");
	$("#resultContainer").show();
	$('html').scrollTop(100000);

	getSettingsFromForm(function(settings) {


       document.cookie ="url="+settings.url

		document.cookie="format"+settings.format


	//let base64=`/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAFTAf0DAREAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD85Imfg7+fWtSCTGeN9AAlv5b792KANXxRK8mhH580Ac9ZS+dc2SP/AASVCLPVLC6+3SGNPLj8tPzrZbGbPOvF2qTy+ILj93z5lZGhBb69BFDJ58aeZ/yz8uoAveFpLKXVEQTfZz/HLK/7uOgDsbvW4ZLlLOB0itj/AMtI4/8AWUhFm+1a20jT4ktpEPmffxHxJWydgOg8OW8dvphuk2QyOf3kclcdRXAuapO66S7wwxHf/rBbR1m4XHDQ5lrWS202OcXsMcUnL+UP9XXfSXKhzaZb+H9hpeoeJDb6rrqWFrMPluZI/MK0RlrqQ1dH0T+z98IvCPxf+MWleA9F+Id/epPby32oX628VsTbwGMNDa7XJEreYVPTZiR9jZ2jobajc4ZQTlZn1J+0d+yt4F+BfgrTvFngTRpdKe3v7ez1G3kv57oXUEpEYfEzv+8RivK87Gk9a6sLXlflZzVcPCKulY+Hv+FPeJ/2kP2g4PCvhyb+zJre3F9dX8kLTR2UK/uxK2w8k0q2rsOlPkR2Pxl/ZE1X4BQWl1rPxEtry7ufmsTp1jIjK6D77F5PkT/rnvpU8JGCcki6dVRZ4FrHiLVLv4lofEGpTeMbp0KJdTTyO8R7pXLOctom9R88dDubnUf7JuvPawvZLgrh4yj52fnW9OUkfEYjC0Zv99I6Ox+J+lalf2cF3Ztp0KI5dGhBQV1/WXFHjSyulN/upF+z1y01S9urmMsLMy7FKvJHXE8T9ZqKx6iyOhg6TfOaPiuzh0aW1itL+SaV490kn2nf8+a9eskqaR8fVjCnUdpEXhRn1XXLaynn+0QyB9wmfzEWslGyOnBynKsjZ8afDhLbXbQeFtn2qB0cvnt/20rGdPm1Z+sxrS9ionpWkeCbGexSDxIqtq11vAv3sQ7q2f7/ANx63UGloZuakzG+FkL6NNrvh6SGztoVkEcmo3cXzFt/d6UXrcuoro9I0jRNNmmtjp1jZ6kIV3GdETczV2ROeSNu1m1bT7aW3OiW8Vo8iZX7Om3P/AESnJRMlc2INT0SztY45dPsbAvtIkkt1TfWfs4LW4NyZwnxZ1nwloGmSpPHZzXNxGyxiAKMPv8Ak+dKzah0ZSTPHZPjra+IbSz0eayjhsIrgyLcJ95V31w08VHm3OmdK6Pp74Za1pVxoMVnot9BeiKNclgpKhK7o1OY5ZQsb8mpRSMUuLOEPnbuV0raNNTjGXQmSSpKO54l8dPB/wAObLwL4q8Zap8SJtF8WaXaz3WmaHLqkSWkskSb4LdbR+Z2kHy71+7v4+5X5hmeZ5nRzqNGin7Pv0/r8j9FyylhXhYwqUFKL31d/W+yt267I+U/G+st8bfhVc+IrbUNG0a6t+XsPIk+0sfTzP8AV19tVxN7NdjxYYFKU4zjaPQ6n9hCy0XU7pbmDWdRfxDsmkubdbnbEpLnYuzb8yuv8W/5Wrx8HXmsSz9FqZbkkeHHU9olX7dfl+HR/gfcKxwSsfMtopAT/Ftr62o+V6H4jFcqfOVLrRtDu1cXWl2bqOCZ7aErVNTkjOEaspabHJ6z4b+HLqRNF4dhcHj5YUqlGUX7g+Rtcq1T6nE+Lvgf4S8ceZPpZmtrgB8z6LfSr83+2Y56dSjCovf3LjVqUkoqWiPH/C/7L+teDrzVRrMNv4s0q7GxJr+MyXSL6Z8yuWGHsbOt1NW4/Yv8AalYpcafY32nSt/r4IpZ3Qf99yUPDsHWuNH/AATostXvNOXSb2zlivrhIN91cyJcW/8AeZk8z50T/YkrCeGjc1hipJEnxL/4JRan4b0xbiw8daGsR3yS3E1ldxoqbPv/AOskqVRhVi0lsKGKlGWp4zJ4d8KeD9O1L4feMtP05vEmk3j28t7YLuDP2Bf+NK25KcEapyWp6X4K+CHwl8Rx2Vtp2ZdUkYiG5sLm7TYw/vpJJsrRYaNXUlyex3PxG8KW/wAGfBetQ6pOZJbqDy7d5YY97L/t/wDkOuatSvsNx1PivSrHWrybSNYu0f7PJc4WST/V48zH/tKuBKzsd7VonpnjL4ma5afEMXE8FnJCdOS3eSM/8fCeXWk9BwkmcN8OPF+peCb26ubMCFJxz5hqFKwVD3JviZqnij4N315ql48lvbSxrbtM/wDqk963hPQ5JR1Oe+HvxtvPhZ4g1G7tY7GVLy0+WWe23JJWtKsr2YVafu6HTaX+1l4t1zxmmjJf2lrYamI7UxrDmIEf6x8/362+s3iZexsrkMviTwt4K+KN7ba94fstX094GhZOuWaP736VlTqSm9COSMTxDX/h3aS6rqNxpb+VpzSO0Cj+BAOtcVWl1OunVueb6jPm6kghfy7mOuZe6zqfvakOpWH2q4jn/wCWnl/v6ZmSW+p/ZrUnf5cZk/1YpgdHZyeEtR063S/86y1BIP8AWR/6uSStGybFLWxp8rySaTvkt/8AcrNhY52TR9VacldMu3gHO+OGTNQ1Jml4pHqXw2/Zn8SfE3w8NYtb600+IuYxFfttk4raFKTRHtYo4P7OxX/j2eszcjFsPuOjx49KAFn8vJ37/agB+qXwv9NlggL9aBmHpVlMLuMyHy4o/wDlpUIo77QNUS2NxJJ5n7xK2WxDOK8R3yX+uSTv/q/+WdZFmN9geR5dif8A1qgCxa6Nc7y+x444+tAHSWks0T/beI5Y/wDV0AbMeiS6lapfeYJR5n+rNKTaA7zwtZ6jfQ/Zp7CSRHT/AFknWnFXJ0LMXg/UNevYYdOhuJYEkMcq28MkzSs/+rRDH9+tYQ7mNSpY9S0v/gnx8ZfG+oWMieEr3wpplzIrfaNWaNVhiH8RhSWSZP8Ac2b/AHqnJLYzUp9UdH4j/wCCZvjK3iQr8RPDIlhQtum07UYyQv8ACu2I8VKjrsbRmu5yvwT/AGZfil8TYopvD3hvw75Wm3Lwre6pqM9o3mK7p9oidEDge6fPxXsQUYQ95f19x5lZ3b9639eqPVda+Cvxm+HWq283xN8cN4r0pX22lqddu7+O3fy9+U+0xp6VpQoq2iMXVbVrnon7E/xA0nwD8S/iVp+r6jp2iw6x9luDq1/crA0jwpsWEFvkIHmO7HjGT8gzWVWjrcmMnt3PBP2gE8I+KPij4jvtH1XU9c8PzPHHbyTXbSxeb/y2+z7+sW/Gz3r0Y804WkSlZ6Hg+u/2D4a+Mel6fBZYt2lGZLiTvg4ryqso0nZnpQ1TP0FPiTQbfS7dbawS5YwR7WESjcNvHeuiMEzinh6S/ixOb8W29t468PT6eljFaSPy0gRC1TKmjJU6K/hxPELrw1qPgC7Ou25fUpUOw2WzG8V51PDex946q1KnW91wMnTPi1c6j48i0rW9KFhcykkW7iM766Pb8+h50slwy95wPX9V0uOzjeWx0W3tJdh5WJP/AGnHXWpGdDLKcHzJHV+GbZ/C93aXS6Yk91IvNzJJjyv77Ijx/JWsbSPS5lD3TcubOW/8R263kcdzAjCR4BEhw7/9s6305Tn+0cT4Q0SNviB4ivbd9+wELbt/B84rKMTonLQ6PQrbVrKW6v8AcLJmwwgQJ8i1pUmoohJyOS8e/Gi40kSw6fcrPcfMHOxH2d+f7lePVxXKzup0E1qfP+v+LNX1m9kmnvy5Lb8AD/CuWpVq20ZUacepntqcz27mcsQ/aYgfyrnTqz6mM5RiLF4RjsdNS6R2/fdy9OVFw1N4PnWpv/CjxV4g8N+KobnTPN8kuSwUjLLjrXo4eo7WZhVgr6H3d4M8WR6raxTXUggnwm9XV/vZ/wB+vbnTk/g+E82a5XyzPhT9pfx9r+m/HDVLW3glk0eWMIsgiba5x3314+MoxqU/Zzjd9zp9nCrHkhUaOHHxKje2SFreCOUfejNl8g/8iVzUsO+fUupDGQpWdS6O7/Z2+KzJ8YLPSptOWz0qdWiae2h8sZD114OjBV22iasVCiqkneXa59wpb6dey3DwTXHlo27KhHX/AIH8leu4a3Zwc3tI88jl/EN54VnnbTdb8S6zoL3FuZYFsGhjjEe0ZLJ9lfd80if3K48VmCwtl0PtOH+GcbxLeOE6en6nj/gDxPpln4X8SXv2ieX+xpWhurbULq1E8xRuduI/w/jrajxHh6NJunHmXc9+t4f0mpRrYvkqr7Nrr7xmgTWWp6hD4j0zxHeaHf6gUa3tbuZLmKQvHv8AKbZFHs3p/v1GHzXC4+f+z6y7HLnfAOY8O4GnjXPmUj2i2htLu2gJuD9peJfMXD8N/wB916EnY/N2n1JYtGs7cMsUs1sCGBXc/H/odVF33Jsdz8FfFfhK1vhdC3jOpiMQOeX+/wDe+9/F8ledXi+52U0mj5j/AGsvEv8AwkXi3X9Z0fWJFtdSEaw2H2sSC2eGBFRNivsTf9//AIHWXtHCFnqNUbyujwn4j/sEeJ/AUGm6prXj3RZbzXQ8rsgnBFxlGmjb+/tM6nfXJ7CVVtXOuNddtDzzwR8PLnwb4rjvIvGsdpdWDpIm1X5ZRyD+8rohGdDRs2c4yPp/4ozN8cPg3a6nNfxapcRSJFugGG8zzI+ldFZ8uiOSU9T5ZtfFeq6F4g0PQ7+zEVra3CTta3cOef8AMleS0nI7XP3D1bxNpvhLUB4z1RrS5sprmMz6bdqfLTzvL+55f+r2V0VKdkYQmcx8NdIj8T2Fla3doBlvkk2f6yuTk1OiTPbNY+HOkS+Am0OCEW1peTYw9ejSoJo4qtXU8y+H3wp/tHUrHT9SdbmyN09tGrvnZ7VzOlyS0NvaOUT0q1+Bfhnw5fi+aeOGS3bcjFsV0OMVEztJnLePNX8H2ut6rql7H9qldMgHs6f9M64qdZQlYn2bZ4Z8TPivDqunx2emRJbQ9UPm1nUq3OqnSseTrcpcuJ5k8uQyVzLVnU9FoX5r6DZ5Pl/6T/yzHWmZCtGkVh5E8fmCSgDKW1dV8vZ+6NZqTNuVG1axJb6fvt5vLMknFbJaicUfV/w5+MHgLSvhLoenazNEusWk25zcW6ObiP1TzP467HKKOJ05M6uH9rD4aaFq+oNZ3QawuxFKsaQovlyhNsg6+gSto1Y2I+ryZ4i3hcxrHDtQx/x8/wCsrwOZHqEdp4Otv7UBmV7j+5GU60cwXM7UfB9q97JNtT/Yii7VfMVcifwpE2x/KSKOP/WCKjmC5DeeEDH5cr2/lwb6EySj/ZB3yJDZu5Mn/LM1omB5p4405rbxHJFFC6ZP7s0hnb+BdF01dCje4TPz/wCs/v0nEXMdjF4FS7kjaK3bYeOtQk7jucJ4ls3m12extYOv7uuiK7kN6HqyeHpNM8M2MSzReXGnz/8AXSvWhho7nlzxEmYHiDUNThtiY5nzJ/zz5onSihQqSbM/4f8AxB8R/DX4g+GvFUciS2Wiata6nc2sg3x3EayKCjH12b642m3ZHVWcU1dH7K/EP9snwH4Dv/7OEkurX8kM0qxxMscUZjPIld8bO/OG+7WM4OKuTTkmeb+Hvjpon7XPwr8X+FtQ8G3mn6yY2SRZ45ms4FeRxa3Md2sZHmKER/uD7n93muimpPVGDPz4+G/xV8QfC3x4NX0nUn065sXuINRsLa4f7LcFFCfMnVzz5lehHEqGkkRKhKx6ppv7R+tfHHWLm01HQ4Itj7luoWd2I/367Y4iLXunPKhKJ4J+0Jr3iG+8W6VYTzC4sLFI2hicZGa8nEVNdD0cPFbGz4KS61nw9K1pGLm48v5McCnTnoY1I2meW+N7O4074w6bDrSi5uJJUOY6562rO1L3D7b8KXV9aJa6ddq0UflqIXb1969OBwN30OziupGiYRyO4ICtGnat2zFqzOT1MbYSwJBWdHOPpXE9zrZ5p+074cFvqvhfxpYRlpoxGJQq8lTHWdXYtHuFrrkOreGrRBpkct5dQKVvNu8K39+uumro5r2J9KfXoriOCe6WVY2wJZy/NOEdTNu5taXqEqNLLNLvuZCB+6+tdP2SG/eOS8NXQ0zx9r0TMxMqSNXLzWNZR0Oc8bfHWz8M3c+nJbubmVAoWdONtcGKq3R0Uo8p8/8AjO6aznfUpzIzXLBm8uvFU7vU2qVLaI4208SWgDpNbS2+/wDj4rQXMjX8P6hbyS7ppo5IVftJQhXR1enSSeNr+2sbW42W0j/PHv8A4K6ovnYL3T3b4e+D9Pt5VKCMR2wVigXFe5Qp6HBVd2ey26W06KrW8bgDPypn+dehGK2OTcw/EXh/Tb52a4sLWcDuYkxTdFMRyj/Dnw3cN++0u2Q4/wCeNWqKRTqX0Z0eheA9A06f7RbadbxvECBIsdKyRLVzprPU7CxmlEgmPO8GFX+X/a+Ws5ayJ5KfL7p8s/tgWXjDWbnw5eeEUvYvskThprSV0lPHsa8vM8L7enZH0mRZ3isqm1Sdj5RGl/ErTBeW0X9sxrflmugs7fvXZsO7/wB/pXl0sNKhTdNx3OjE4+eKrqviJvnNPwVY/EldX0CN4NXl0zTp1mitZ5meGPPdI6MHgJ4ar7W1j1MfnuKxeGWHxM7wWyuff+leJba/0yxDWUlrcR26grwcNsr7OS0PgU7momstJGyAocAFUZK55Kxa1Pn74xaB490D7Xr/AIcv1ay8wSyxRb0dP3nbZXlVFfRnfT0PPPBegrc+Hl+IGo+IJZLazvUluNLmGFEu/mP/AMh1wtWep2XXQ1NV0rTP2jtSfVLPx7HY3NhCYbPT9RjdlId/3ir+8/jeu6FSlWVoHNVjVj8exU1f9hn413T3NvZ+FIH2jEU32+1j80f3yd/mUTw1RawZnTxFGHxnTfBr4Q/G/wCD881pr/w/1m40SVvNle1gFyBt+f8Agq6MKyi4zkmxVK2FqO8EcN8X9YsPFfx2DW8Zsylv5EkUtv5LxN/GkiV58qbhK8jppSU1aBr/ABY8R2ek/DjSPDUEY+0tLILgx/fCfu6zqK8hxR6roVlp1h4K8L6jBbKLg7pMxp975zXXy3RMkdH8VtUbwNDYa29kLjRp5vLaDaNqNmorTlSRo6Glzwfxb8TZ9Vit7i2sH06VLkTqF+SvOVeVRi5LGD/wlmsrEZWv55ZG+/G7OOayk2xJNM6v4e6bb/EnXYtClsPJllBIm8utIUr7mqPVfih8DvCtl8NtXma3jnmttMNxG0jdH/8AAf8A9qV3zoJIlOx+fiWyGLzF64zmuGUIxZ0xn0ZLb6WIz9qmk/65x1BRSur4Sv8Au/woAjS5milMneOgDUmMEmkxPDk/vKAGPrtrLpn2J5JPtOP/ACJQBgyxkN9+s7sD6llWWNI8jfI/auK5NxC97AYwkX3/APloKLhcju9YlW6MXkP8n35KrmKuRSapF5UbSqNiP/q6OYLmxd6qhsk/efu5PuR0J2GN8O6mI5J5LiJdn/PPy62TGcL8RoLfU7WfUbe3SC5dtkZ/551cdxHd2nw6gvdB0BUfZBGm95P+eldSWhzts6y+nh0nQr2VRxDF8gzWVrGt7ninw5Fv4t8YsL+b7HA7eZLN/wA861SsZt3PbZdK8Lx6VNPbyXV/Ywp/rPPt494/7aV6UHI5JxijItPCj+M2gkiK2VuI/MunF5aQSQr/ANdJ5Pnf/rnTlCTdxxnFHTW/7Pnw6svEGlz69r13eaRduURJ9SjI3v8AcDukfKfx1qqLMqk7nReI/CnhLwz4wisPAumt8TdItnt7vUp/MjCwKrkPF9qQfIXQ/ckkqqtG8dTOEuU4j4tftHWvjfxLdt4d0RPChs7OSwa0srdIDJGfMOyXytiN/rPWueMoUYu5tLSSPlW5v9ZuLy6Rbdp2lbCvFwAK872irSZ6LaUUe2/s26H4g0/xM018sqWPk+XFEe1dmGptnHippbHQfFn4WXnjfV1utP1CS2niTHlu/wB+tcRSsjPDTuzivhD4r1LwH40/4R/VoXQuSrSvXHTZ0Vl7xF8fYHt/jjp0qnOZVCvIlOZb+E+xLbQpb+y064kvpWuIolCSSTfdr0YOxwWL0UOsRBi9zbXGf4X2Yq5NDUTMSCbVdQNldiKBLiQMssP8DVg99DRnBfFDVNZufhrcWVzB5Om2cmbeeNfn6en8dTXWmhSZ6j8M9cGreANJnAVCI9uH6V20Fc5arsdOswmPzuDzW1rM5YyuNF3Fp8RWEIAPvVUdivtHlviPxZFo3ji61F8yDDFESvIqy5Welb3Txnxp4hhn1sX8kGBIu1PpXi1JOZpJ2RVsfijsgdbuKK5Q8r5hrOMTlauZth8RLO8z9s02IQJ3JrS5omS60vhTXYjLaWQswU+fy5KBrcX4XaE9tfzXek37pCjeXiSvRw9NXLq6I+vvANuLDSUdxullO9gDX0NPRWPKmzqri5j8r5Y9h91rSMGjEoXN1EcoXbBqndAVrcqHA8rO5vWqaZKgbLziKJUQfMx5zWPK2WtCXw3Nqy60RpkDXEsiBnUvs+XfSempa9nB6GRdtM15Os0LQlZG3RhPutv+dK1p2nuKc5LWJjXdks2QYVkZeMOmacoxm+YIuD63IrGGNVc+Qqgfe4NbJxqLlBqm3o7kxSBJgxUov+7UNisVZIIIjuLNkdqybZokQXljYuWW53SW7gZTe/NclWOh0U2eHf8ACM+A9J8U6h4Z8X6vcad4c1IiRWiuPIcSb/kevNmjpudZ8GP2O/D1948j8R+F9ci8V+G9Fl+1QN8iq93/AMsos7++d7/7ldNCNKivd3OevKq/iPWNei+KOsazf3NvJ4g0DSoZmsbKOGzV/Mjj+R5XdY5N+99717lOfNHQ8txjJ+8fF/xO/aG+Nfw/8c6hYWfivV5rIOCi3lgQv4fJXh18TiVOzWh62Gw+GdO63Oo+IjR/FHwX4G+JWtWDWviWYvYajLHDJD548vzIG+n7uSoqaq8iqEuWbjHY8NvL+71/xRem/dnSB5PLEkf/AE0rz5zvLQ7UrH0xoOtrc+FvC1uLpXQIiq0nHVyK6+eyMpnrPxC+J2leOvh3b+HX0xor1wqzSH7gdf46KslUNPanz34gtriGxmjYwXxi+4/l/vK4k40g5rnlv/CY3eHU5iP/ADyaSspK2o2jqvB/xD1Hwj4fn1zTZzBfRzfLt6GtIVLGTbT0E8R/tEeMNZ0e50+/v0u4bi3+yurPj5KVSu2rI25Dxy3vY4YgmwRiuRQlN3Fy20Mly11/H+79q1Ogo3UcdrH5cZoArz3aRf8AA6ALlvL/AMSOL5+kn5UAZEhSW439KksSeVy+agD7Gg0W61hM6fZX1wg5SS1tHl/9p1xewmcnObP/AAr7xY8UITQPEE8Oz740a88v/v55daKjIOc07f4WahFYXL3mmSRXzv8AItzfWlrIn+/58kda/VmHOV4/hZqAdnNnpuf78niDTf8A5Io+rMOclt/g3HcXDm81rRbfb/BFeSTf+iI5K6I4ewc5o3Hwp8q38q21Lw/FN99EddV+dPL+R/3en10ql5BzlDXvgna61DbpJ4k0iOLf+9T7HqX/AKM+x1KpBzm1b+A5oVxB4q0dY4k2RIlnff8As9vHWqpBzmN4k+E2pa9pMmnw+NtPtpZH+eX+zbutPZIz5zB8Dfs8ab4WkujqPiuHVjOv+ri0W4EaD/wIjo9mg50b6/Cm1bTXtJfGMiwhv3aL4Xjk8hP+2l5VJtGUkdLoPhPwhoPhgaZYXF/bTsyTXl7Lo1o8lxnuf9M+SuiMnc55RLHiix0vxPPZG31L+z4rNkYofC0C7/8Atol5W85uxpCK6nKaV4KuvDaaja2nju90+C9OZDp3hiNJGT2kk1CsISfUKkU9jjNQ+AOnXllPp8fjfVbSJ28+WQeGY3kf/tp/aFYTpOR0JrqdP4M+Dmm+GLTyZPE1zqI7+f4ZT/5YUo0rdA5kdjoOiWOj6h9om128nB6wJ4fgj/8AbyuqndHLVjcsXWl6NezNK2qakq437I9Fg/8AkytJtsKUeU5Dxd8H9P8AEfiCw1fTdd+wtAyO0dzocheT/vi4krm9ijo5yn8TvgU/xB8Y2GtR+JbGzis1XfHd6Zcb32f9c6PYoOY9isr60sLa3hfUpX8kJCNlhPl66tjBxscl428VjT7ye2Gs3sCS6PqxhksLVEm+0PBbx2T73j37/P8AtH/LT5EjrnnUsbwRofD/AF63ufAnht9V1qFtXisUtr5tXv8AZM12ibJm3yff+eOSooytuRVd9ja1iwi8ReB77Tob3Rrh5h5iQx+IdOI3/wDA7iuiVRXuZwKfws0HWdA8LR2WqRWltLGeEfVrKT/0XcSUqFVXHV1R291a3+msyXljdWj54FxbPGD+D13SkpHLFWMbUdTaDbE7CJj958/crmqVVaxrGOp4R8RdWW91+aCzcSkN87V4tZ8x2xRyl/FaW1qjXIkmfZ/yyrlK5jk7nS4dVki+z20iR9P3lMXMi2HhsIdv2fH9+k1cSjYq29raXLIGRyGfJjSjkZstD3b4XfDg6e1raPIYTIiN+79a9zDUlE4q0r6H0VZwx7FTdhcH5tteuopI8uW5Heajb2s+WXeOuEo52UoIoS39hIY1w6cf36nnkaqESW3vdOQs6SyKdvZqOaRPKStqqqGxcMxouxcpe8O6rG+ueSb97PKNmUKjlv8AZ+ehyHylXUdWNvq99FLdi/dJ233a/dk/2qpMXKZs+tDO9C2K0QuUyZL947xma35dvm2da2S0LUSwL/lt8PP+/WUpkqJDNeRSKAIst/DsrFzNOUpidXRoh5kRP3cCspSizTlZ5l8b/gPqPxztrBbG78jULAAKskqEMhrzatCMzqhPlO9/Y3+Ct5p3w98T6Enj7UfD3iKC7Jia0mTzI0+43yOON/3KqjThHRiqVXLU+odA+Jmr+HnsfD97FDq+prtikuUmJLKqbfMb5KutKnSV7nNaVTZGX8cPHfgbQNmkXd5p8XinU4twR0DTiP8A56yJ/c+TYn9/fXJQxH1l7mjoTitUfHfxA0zxd4p0/wCxX1vo8ejsXuYJNLiS2Vjvkz8iSfI+yStsQ6MVZ7nVRhFbnjvir4Wz2UcK26Ykf/WVxclSnG9E1nKVSVkHhawu7GTStPuJAZIOCRJXNSlUnL98aTjKMdUem6fG9/aygBzMh9K6YLU53oMTwpo2q23katqMtjI6O9u5+4w/7aVpOLZpTZ5j4j+G1vokr3emDYyD95bD+OvOqU2pGrSexyXiC1vdN8Ei4uYGigvLoRwurja49cVvKLUTK9RbI88nunlQy/1rBKx1XIQjh/8ApnVXsYyWo+ey+zY8xP8AWR07s1KkllJLHh+PMouwHQ6JB/q5n8393z7ViAzXk+zWduiD93WoHOWcL3V8kfk/hUll25sP3hoA++7j4oXl5Lun1a+uP+u1xJJ/6Mr0+aHY4LFD/hOI2l3faJpLhP8AlpJgyf8APOr5oBYrxeNLCLCfZARwPmNRoLlEPji2jAkWNPv52b6LoOUjPxESFNgSPy46d0PlIh8SF37meFh1/ePS9otg5RW+IkaR7fMjzjGY3FLmQcpXk+Icb8SSJj6VftEHKH/Cwk2H/SBkff4qLPuRyMdL8QI4pHYXYH/bPiiz7hyMrH4gQTLH5t4z/P3q9AsxbfxlYLE37072HpRexXISjx3Ztw02/P8A0zp89wasSt43sxyJeX/6ZUc1gtfcfH4xtVjw0/HsMVpGpcOUU+ObYKMyZB/56R5olUsHINXx5axtu87B61DqJIjlbD/hYFhG0YedRGnpWftbi5bDx8SLGOaTE8T+uXp3l3HyFi5+KWnWsZNxLaj/AIBReXcORmVefGbRIY/3d7BlkkR46XtLluB558QviFAPH+jshbK6YcHfj/lp5lc9R3Z0U4aGp4K+OfhjSvDV6moajd2uopN/otnH5md7/wAf+3/rP+ekf/bSo53EwdK50ei/F+2vLCVr29BhdPLRTJHS9rcxdNpmrP4+0i4gNqsCNN/qzFKRJ89L2vsxum2VtC+PV7pkN14V3vPbGN5LFPMdxayf6x0TH8D/ANyuqnib6k+zscxqPjm/1Nt08zrPv4iD1wPENs1jA5vVvEQEM0pLxv5f/PSi/MdMYmPLq97c2Nu5GLc/89DSHyFCfWb8yRSWreaKYezNbSrmHUWzqcbxb+xq4olqx1fhTw3pf9rwlPnRRv8ALkrqjC5i3Y+l/hnpfnzvfy/dUnyt6V6tOk0ebOVz0stHKuNhORXXySRxt6mHf3lgJzC0bO45wYqrn8jVQbM25u7QSEm0lz13+TS50bKDsSwvbLz9kuMZ/uCtudEXsOFxbPsVIbhSzbR8j0cyFzGlBDp1/qVlp92r29o3zmYJmudormK+t2+maVqF1bwXBubSFk8uU/7aU0mK5j3j2UifIxIX7taJs0bIJTFlOXPtWqkZOWo50QyE+f8ALScLlXKxTPCXPzf3NtYumXcbdW90pBLhy38SJXJKjKOxrF3FtZLuznWUXAizxvxWai3oXJHz58f/AIT/ABDfxdHr3hu5ka1uV/eG2lZcP9/vXJKnOMi6TUo6nbfsk33xT8E+Ib/U/Glvqsfh28haKO8upAqM/wDf+evhOIMVVofCz6jKcJCte5Z8S6fD+05+0FF4W8DzrYeLbeKSXVde1AyeTFaxkPjCq+9nEioip/fp5BDFRXtZ7Dx6ppcqOk8bfDM6Rq194MvbvY/h6NnuL/TLxIyTFB8xSOST9+5CSSOn+x/f+SvuoTo1H758r7KTlozgfClvoWpeJtNi1PxnFqkDzeTNC/7sE/8APRI/+2f/AC0r5fMa2JhpQeh72FUWzoPidpun6n4oibw3a72tI0Wa4VOSP71Y5X9ZqTvWLx81CJztkL/T4nWaArc5+dK+ppo8WZsw+HV1bws7XEbeXAE3v/crscTNNoS80T7TbNI6bhtJYe9ZSpqUgo1HF+8e2eMvhf4a1z9m6LTLi4gbTngS7tZBt3wzZ4IrV0Lo75YuMOh8XTfDY6TBtl09WEqgpJGnSvIkrGalfU4288NRv5irahMjtXE29jZalf8A4R4RpGZE8wSelXcozbzw5MY8mDoKLjKkuh+VmR0yBRcgxPE9r5T21r/KtvME09iZNCFrN5qSCOSKp2LKGn6hFIJTJGkx39aNwNeX4y3IO3eWb+8hxW7myOSLHTfE7WEi+e0uEUc7ZEkxj61DcmyXTibN+3xF0++06C/8NatpkmpwLd2Meo2ctsLyE/dki80puV/78dbKM9WkJTjLRmwvw/8AixcaXLfnSrWGwg4luZ9YsoAn4yT1UaMqm6B8kTltLPi7XpWFtcWjhfvSm7/d1LjNaSI9oiPQIPFfiDXf7Hh1CCO+PGySStKeFS96Qc6exk3up69aahcWF7fi3uI38t4q5py5dzZNxWx6r8EfhXo/xiuprC++L1l4V1SNWcWtzprzs0aHqj+aqH8CK3hRVXW5jKo30OR0vwDrmveML/RdK1iTVIrKZo1voYtqSKgB3bPMHl0vZykbOXKrnsHh/wDZRj1vT/ts3jbWFQ/KwSwTl/8AgclbRwzOd4hHUwfsc6DMhMnjnxCx/wCmcVtHn9a3+qW6nO8W+xi61+zN4W0DxFZ2dx4k1+TS7gc3KTW3mb/+/NZSw9upccQ30MPQP2ddO1vxdrWitr+uRxWeBA/nwF5j/wB+6mVBLqW8Q+xf0L9mfRdWvLqB/FevW8sDbEI8n5//AByrjhvMxeJfY0Jv2UrCKSRY/iDrisn3/N0+GT/2pWqwVT+YPbpdCrJ+yHduQsfxF1AkfcEujRyY/wDJir/s6cvtDWKSKr/spXKoGHxFu2O7YEfRB/8AJVcrwUrh9dXYNN/ZNvNW85U+IcieW/l/PpAH/t1WscHNL/gf8EhY1Pp/X3DdY/ZB8R6ZoGq6tpvjGbWIrBd9xs0p4VX/AIH59KWElFav+vvLeIi3sfPGozatZvaq2qTSLI+f9X/q682N6UrHo6SiZ99c6hFffZH1F5f9sVDnJ9CHJHW6V8Ote8aar4jt7ZJtS1PR9ITU1+xoz+eu+3+5sT538uR+SP4DWsKU5ak+1UTvNI/Yw8f6npmn6nNe6Hps9wvnGwv3mFxFvxt3hIHRH/2P4KcaM6sjGWJii5N+x38QNHiMh8TeGULjyyFmvd+P/AWumtgpxjsCxcTktT8HeKPBXiODSr+7SWVf9NS4tpneN/8AvtI682VNnQ5KxY8JpeWvxBtHvHeR/wDSP/SeStYKyMm7nZ3+ljzvtOcb/as+WIcxnXuhfatOjjPTzPSj3UPnK+o6X58MecSRJ/yzquYq6MlkjhuEj2eXHjGcVk9XcTaOlt7RtiASI9vnCc11QMbnq/gzQRHplvMZHE90UOzP8GK9KEG9TnqSPo7w9Yx6XpsMEZwFjILV7UYnkyZbvbhlxGg6nvXUkYXuZDJFDKXJVd3G5qJQNEytqEc1xBC0YyN33tlc3s9TdNocDeiSPHlyRDrHto5SnIn1KQzlTa2y2rr8p2xD5v8AyJVKJm5GjoFqLm/0+zvpljhuJljlmI6VHs7BzXLnifQLTw54lm061uWu7GSJJkfdu27j92rjG6Je5z3iCzjsdIurjHlyxxgKpU4MjA4rOpLkpaRNYLmq6nv2nfCf4FtomnTarczXE0kW7z5vEF7C0p6MxWOZU/IV5fJi6qvBafIc6lGnP3l+ZPJ8OPgDa26RiaTZn5f+J/qT/wA5mrdU8w63/AxliqL0TS+/9bmVrXwM+Gd6s0mjeLNUspcMVhF9FcR9f7sylv8Ax+uiEccn7xhLEUWrKWp4h5MUc95bxvDqEFtI0Pnwx/e2iuubcVZnTRldFOeG3J8swgDouyuZLqdEZ2ZoaFqIFyLG4jIVcbHJxxnmsZxuh3sz5o8X+P8A4lWvjvVfDtpcXVjozzxlmRRtdcc18rjstdd6Hv4LHqirM9daXwx4J0Gy1vwMJdI+KiWwt7q6aZ5N2Dwzu8mxH4k2IiPXtYLBRwtPla0PPr1ud3ufGvib4meK/DY13SdR1i7bUp5JUurrzw0sglEm/e/333iSuVwhKo2PDp7s8itNQmjuTPbyy27Af6yN6yaj0O5rl1PSvBP7QHizwhZ77OdZbWP7++rVWVPZGMveNy//AGpdb1PU57508uSZI42ijPL1f1hIx9nIqv8AtL+LhbXUcFysUcseWSMdKPrFy1Bo9x+A/jbU/F/ge41i6cS3CXZhLCuiLktTkrwfPdHpWuaxqmgaBPLZXEgfS381bd53AP41TqtbmkppxsU/Dc0ninQbfVpbeIPctvZNnyb6z5bmTZm698N7DVWe5iUQ3H8a/wB+uepSuawkcve+A49NHzqyxydnSvKqQdI6faIyF8MW10GO/JT7/wC8rn5ucXNoVLnwbbTKGXPP6VcJc9KzNoNzpOb0kjxC78Laz41+Id1pGlxLK9sWLeediRQrnDyfg6UYjE08LQ1Z9Lw5w9iM8q/V8HHV7yuW/GN1qvw18QtpGtW8Uj7EeOWBZHhlVzy6Bynbev8Avq9ThsTTx1CyNM9yGvkVR4LF6tbS7pnnJuxNH5uNm+R/6V6dKn7KCR8veMfcUdEfoNr/AI6bwgTZabbmW+W2eXybSY25Wu68TiUZnzp458K6BqOpabcSzSz+KNaDT3gZPPsoHLlykh/56danmhc6FCR7+/ieT4ifEuw1L4g6bB481mYw2Gh6JoUUltbWqqSyFYZHGf8Avt69eliaVaPLE82rRlRd0dL8Y/gPrHww8U6J4iu9Nl8Q+EdUujHqsMW93tJmk3pHL/sP86b/AO+a3jFXsjjcpS1bPEviN40sPhd8SbgQ+Gk0TR72cwITBHvNl6/7bxnH/fuuLFzjzKKO+N2edfGzwQNF+KV/r/hvUPIsJYvtZnT/AJ6P/rErOvSl7NSR1xR53ongDVfFdx/aCThQ/Q9K81w9ubzrx2MLxJ4Ov/DN7su0LKf+WkcdYulVo7McJQme4fs9+Ede1NzPYyS2Kxx8OP8Alp/38rvovuceIl0R9ZeHYm8O6XFYTXBlZeCu/tXpc6RwxTe5ZluIZ1kLnEX91GqVzMclFHOeJ7HStT0WUSkRiNHdZnH3KynTlcuEong1x4yv9C1FvEUF0sNyZvIQSydEry3KTZ3PksdX4Fkttf1d9S1zUZluLh98ao//ALTrtpuRg1E6PxTf+EfClp5tx4i8p2cuiQtvrefKvtHK6dzf0nxvoMmkxXCa7bzKV4WaT560pTj/ADB7G+pet9d0jWvs62+rRTzs3zQo9b+11M2olnRbiGyvNQTzHEAbKrj71bxqKxCSN97rUL7SrzTo5/s9jPC6OiPnNEpKUSY35j4M+JOhDTtXvbGNPninBx+FfK1/4h9FB2geYayX/taWOR/3nWhTimDhofoV8AtXtovhDosM99DHAOglusD9a+jwzi0eLXbTOv1/x34Z8IQWcmsa1aWgundLaONlma527N4RE/30/wC+65FVjRloS4No47xN8f8ATNMgVtL0++v1BH+kyxwxp/5El31rXxkZRsbQoXPC7XVbHxz4vudX8W62vhWGOLMFmVh+03MQdynkF5Y+XdAhf7mCP9ZXhN3Z3bI9A8NQfB+70q6utDsNKsXla3uJptZ11L3Upi00itFZlIZHEod1U28KBpo/n8z+Gt4wVrsm7egyT4dS6vBHPoGpxXUEzPJEmr2kunXKJ5n8aZk2VEsKzE5jxP4M1fQrC8v7ubR59MsV3XV1Y6zbsyReckO8wvJHM0e+ZPuIORv+4cVyywzQK5xNv4n0meVoYNUs52PZbxTn9a57s6dVuirrNuZZSYFBD1a1Fc7T4f6RcR3dvaTxedb7vMc+tda3MW2fQHgnTf7T15rpY/Lt4shBmvcw8bx1OGctT1dIQEGVIIH8NexCJ5smUZSZJA6xExIASzLWzQokRjHljceGqXIpE1xsSCOMA+77azepsnoLDaZlzvPHFFjNs0LK2VYnnJJZPSnYVyjPbPdXAwokaRtqqefmrTRE3bZY1jw9qXhe+jttUtfKmmj81ZBJu3KOvzVnzX2LRwvg34a+ET8WNOTxR4lnitbnU7Jho95dIlpdgtsKSLMP3kfnBEYJ/wA9K8fHzdKl8R6WFh7Wroev/Gez8C/Av4hy6ZqmtWvhvT7+0trq0tY7XFuhLSqwC9Iw0iM2z7vHy5+6vp5RjIyo8snqu542aYGr7XnitDl3+JPg2yX918QtNeE8Lsh+7XtXi+p4rwtRfZGx/EjwNM6OPiDpZmIY7zbbd9axlFdQjhKknpE8dSwkvfHeproni21ms57nzD9lk2E8f3P+2leFjKkVJJH0uGpTitVY9SuId8Y3bTKFXcU/iqWvcuXJWkQ31s8qRTW23ejHPyVyyXKaRfMX20v+3LXfNFAZHVlaQj5l2msU0W4WPjX40+NtT8R3TW4dYrrSJGji8jyzJy/mcZ+//rK86tWlL3UdlKnzbnzfqUeua7fPcT2t9dXEn7x38l64XTlHU79KaPoP9n79jPxX8U9Ks/E8cUMegyOyrdLON1pMq7wZI/L+euyjheV3kcU672PUr/4D+CNA+FOv6Pr0B1TWb/UoYrfVdPXfPZ3BGdj7P7/7z5K7ZUo7HXR1V2fMXiz4I+IdE8U6l4c0vw7rOt3tpOQrQadMZWhH+rfYh/uVxPDaXJ+tR2Fuf2afi1aWAnu/AGuQxbcj7RAEynps+/UKgri+sx7n2l4O17wJov7Pvhjwzp3hd08VNbIt3c29iiMZd8nz766IyVz0JUVKHMU/ihLNZ+E/FVwp8qaEQozf7dEpR6niJXm0bPw4lS48LWqCMQyIm9wP9utoxuTI6mHRxeXQjjeBJiARLcSoij/gb1s6aM4uxXksLa/tfKuIhIj4HzccVzzwqqornPN/EHw/udHYz2sgmtWw6sp+5XhV8P7HZGikc1/ZDOzKrugJGDJXmTlZcqNYtTrcqfunjHwb+IGk+Avj3qV1q/lCwu2NtiaTYufMjbLt/B9yvNzjA1KmHjbXrofsPh7jsPlterh8TX9nzxaTtfVlb9pLxL/wtb4ixjRLKC5ggAVZrQIYmeX5giv9zanypz/EW9anJMDUw9CU31NvEPOcPjsRRwGFlzqirOX8ze7OJ1v4N+NvCUFgJ9Jcfa4fOURShh1/2OK+no1rxPyypivqr5ZLVnQeN/FvxH/tK+h1E6jpEGlzfPZ2s8kcYkkP3/3f3+lVWUiqDgYulfGC/wBP1IX1wsOruE8v/Tf/AEZXNCpKO51zpQktDp/hh8XfGXhf4o6L4s0MJEiXXlQfbIDc2Su6OnJf+Piu7D1JSdjlqSSg0fqN8K9dvfEPwpvdH8S38Gry31vM/wBtu4iluiSqPv7wn3d/y19PRnsz5KpTfPc+Bvi/pej+LPDV/Drnii11/XdDuDHFfCHyDOSAiD/Wf8tEj/7+R1w4xq9z06KaM3w9qdhrlpptnqVskdrbW0n7+T/WfJH+7/66f8so6w5m42LqHWfs+fDD+29Z1zV5LA2OlNJJHZQsnIjpUYyW5y1KvOe16p8IfD8dq0upWMEkarhXaJOK7XRU1qKmjLs5LKxLRaVaxxWap5SME/8AH65YySdjZxG29zBfNLNEQ8S/ffy61epk20Ttd24V15cbfvBK0+Ehq5yHjnVIL+DTdDtmWP7fL+/dP7lc05nRBJIn1j4d6H4i0ZrK9tvLidPIgdE6ClyX1MdjC039nrw9a2kEclzqE7x/xl/uU/YORoqtjX0n4TeGdAuSs2mNqJl+7JcP1q6eGJdVo1L/AOGfg/VE2SaYEP8AAsbVs6SiR7Vsj0f4beGPB0pvdMtjDqkkuY1D4pQoKGxFSVzmviFP4g8P61Dq2mRy3S27EXUCHBqakpLY0pSseleEfGmneNNPjvbMssoGZog+dlddOspwsKcOSdz5X+MXhmew8e6j5vMkxE6fhXz+Jp8s+Y9aM/awseN20KnxDFJdWrXVvbTRtOjn928aSY8uSuaC5dWaSWh9JeC/2nviFoGhKmmSaNpk8kfl2k2i6Bp9gIV/d9o4MOOfv+Zv9q7oV4xRxThdm9ZftMfFu2kmnPjTdNccFzbKu1P7ifvfkT/YrP6wW8Ojf0T9q34vQXltNdeL3lsWl23MFpaWtvO8H7vzNj+RJsf/AG6v2y7EOkizeftg/GLU49KttG1q4guYbPy7xz5d8l3P/eRPIj8n/c+f/rpVTrroiFSSNbQP2pvHMGnyLrl/47v9SkgcQQ2V5LZ2v2jzCURHSXeibDn/AFb8ps+5ThUg94oUoNO6Zzk37WHxSguUI8U6jbeXnfai/viGPVN7vcb/ALhjPTvWbqw6xRapu97lW4/a3+K/2gFPG9wLdJ/tC20st28Q6/K5muJN6/Iflf5OTQq0E9Imrpya3M7xH+1X8TtctrWLUda03ULSKdrhYr/T1u40mdNgyJzJsTPVI+U/gzSnUg9jGEHfU8hfU0166tbiCGKzeW3t7hoIX8xI38uPzP8AyJ+8rl5eZ3N5Kx7b4E8Oz6V4eN/Kv+vGxRJXfTp6nLKdz3LwLpaabpKLIPmc7v8AVPXtUo2POqM6e4mijV3LY2jq9daZySVzMm1Zry0WFPLKofvKf7laqdioxLNtHDDD5rybGB4I7VnOXMXGNinKUDzXMkm1VXLvioUuVGiVzlvA3xb0Px/qmo2OnI8c1i77pJG+8axpVlJmk6PKjt7i+S1shArLIX612PXU5dhn2gy7JI1WN1kWRH/2i9Nkcpe8X+OtS8ZTWr6pAjtZRPGhifj5/v1MVGOxbjc+Mv2vPGstxrVnoaQI/wBndJZftEfD7P4HrwM0iq9JpPU+qymosFKGJnFO3TueUav8brnV9Kl0u70XTZjevbtPftKz3DrDsOd7cH5E2fnXxmDwEqdS/Mz9MzPjKhmuBlh3gkttf6R7JbePv2druztW1bw5cw35ijW5S3ePb5uz7/z19sqtNL3ZH5J9XryxPNPY+drnX/D3hz4ijU9D05NR8PRTb4rG+j8yNhivAxsK078jZ9XkWMwuBxvtMRHmR6F8NPH9tL8Q/D83h/w5b6EizyGZYJN5mhcfJHJ/f/7aVOV4ean7zuexxJnOV5hC2Bw3s33ufdUlzeCV1EMXlljj5P8A7ZX3KSsfk03GD/eu5Ok0C7WaIq7L8ymsmu4JjotSXS7xCoP2fIBPuKzcTZM+LP2h/C154B8dak9tbvLp2tzLPbShQSJQMV4tanI9GlKPVkPw38ZeI/C0aW0NhbalbK/kz2upKQfn/wCmdRRnKOjLq0oy1TPqDwZ+0b4u+G3hS++GX/CHXOlm+jludMv2hdY40kOXZR2rvlVpU5Ky1OdUJY2XKjz2L4N+PNE+CuvW9rDJGllqCasNXurmRJpkQSM7lH+QJ+8j/wC/dc8YVY1PaJ6HoTq+zp/Vj1DQP2stM0XQdN1/VdSsZdcW2WzuIFihfzNpRVlwh37kT/c+Sv0DDYWjiaTs/M+DrV61OpyxVxbn9qjXPG2lazILmzsLuCMPYrp8TS/bI2++gj8vfvr5WvTdCs4yWh7uHcatPmjucFpPgy20vwTZ+LrHVXh8UT3Y+0QXvn3bhOmEjT5If+B16mGyZ4un7amrLucOLzd4b/Z7kPxC1OLUPh/4kZriO6nknh8yVYhs3142NwfsIXnqd+FxPNG3c67wXp/2bSbwxj5o7KFk8z+P/WVzUdDrbG+Jrq4h+Hdwba4kivhp73MM6t86HfRWlroOKKnwMudQ1D4dwfb/ADWnhnfbLM/zuj0Up2ZVSN1odsZXTcvGx+WTpWlWSZlGBymv+CbbWHMtmTa3JLMFjf79eHiMIpS5jaK10PgS2tBcfFoW7pvZdVCCM/8AXSs6tJOHKejBtan1DrmnJptnc6nHaJauUIkeNa4IUXA5WpSd29Ty3UfiBqeqz5v9cuZRF8kIlmjcqn1r0YuysaepX0n4qaX4v+Hgi1vTXv8AXotQ8+5vHHGz+5XS6sZCVOUXozhZrjwna6FrVla6W93rV8/+ivJ/ywjrmkonVFyOw+EninRpPhP4n8L+ID5XnMk1kyH94X//AHn/AKMropOMXdmOKlaVjq9R+K2ua9a6Zo2rXEx0OykjWewtncs6/wDPOvQWLjDZHHVp+7csar4P0HVfFdtc+GNIknsmhTdHJBPFHiliW5tGNOdj134efCW1tYP7W8R2sMcn34rZX2RxJ/wOOtYU7xRNSbPTm1qO0tkt9Ngjt4lXaCqoa6nKJmo9ipJLJO5a8Y3BY/dB5rBqUti17pyF6t1bgxWFkL1p2dHjf7lcc48p0qVyjY6++jai+n6hagOE/wBRAnyCoU2aKCepsXmp3F9BNE9uthZOnMiffFaSn2M4q5z2n6Ik9/b3k9gIIUHl28fYVKXMTP3TrAJWJmaKQEuUWFD92ulaGLdy6t/aRbjI5UZ+5GlbqZHIiz4V0W88UawbXTbdZ7yRuTLJsjhi/vM38FSroU5roXdf8Nx6Lq72Utyl3LHzujTy1LVsqbkiYzXUxdUCW8MUkaspMv381FSEqe4uW5m+EdfOpa34gicAxQH50aojUjazNIqx5r4pl1D4S+OH1+whE+hX3+uRfuRkCuGo3Qeh10/3yOR+Oms2eteK/tlpJ5ltJbI47f8ALOuXEVOaKZ0YdOEmVNU+Fdxq1pe+I7COOPTotAvpQv8AtpBJJHVOnoCqXZyGiu9tYW0Mkf3E61zSpWLTu9TsvDek33ie5itLK2lnw8aNJn5IY/77yf8ALNKE0KXMe3aD8K9G0SzifUNt8yf8tbxN8bP/ALEH/wAcq+ZHJJyR07eTHGsdpGYrfZ8weL/OytEovcibktiNYy53RyFh/fQ1aUVsZxcmc14u8LWfiuSJ715bm7hRIIpLifzZI4/7n7yhxRpFyvY8T8Q+HNT8OXwiubd5bXf5aTn7j/8ATOueSSOuNzFvkaVT+669zXLyNmy2Nn4c/D5rnUkku7dobaNY3f5PavQpI5asz6Q0rT5ZLyGJ48WsOQvPyPXs0YLc8zmud9BffZ41H2eNiuV+7XoxjY56kia8vLc2xlmtwwPda09mRGVyvaXlpNPFHDZy+Z/v1Di0aN2LeoiGURJNGypnja9KMdLictTwD9qn40P8LdFttN0UD7dfj962/GErysTV9menh6SmcF+yN8VLnxP46k0r+zoQJo3NxLGvzP8A7dcuCd9zfF6aI+s5ljvJS6OySp94LJmvobtI8S12VbqQW1rLKsp3Jlj8/XAqWxXsdL8QPA1r4S0Tw/qdjqErNeOY5h5nnfMIS+//AGelYKbbaND8/P2vEisvG8DfafNe5iwzelfOY9SpuyPYwsUqUny3t1ueaeAPA9rrI8y7Hm2+fST/ANp1lCN48x3Vq03RhGi9WZHi59At76eGyimHl/7clRUjTh8BnThODvJnJDY42qTt9BWCVaWxvKy96x3/AMD9Yi0j4h6fJMMFyRz9K78JUUWZ1+SUG0foZpXiJdVaRzKqZJPSvp6b5kfNwk3NpuxtKZJz5YuEDL90Yq2rAiSYTlAj3CFgMdKydjRbHL/FDxBaXPgC/wBRl0WLW7nSJPtCWxtUd0P98JJH89cVWUdioxkfJdn8R7vWPF3iHxRdaS2gWcyyOlqlsCi/9/K8qVRRd0j0YRe1z2nw1+0BqXxD0fwP4QudZs7eO2Vm+0TW8ryNboD8js8n3Sn8Fd1NvFS52rHRGr9SjznV/tq/FLwtYeENG8KeDPHMsmqb5BqUMEv7uRXT+P8A7+fc/gqcROnH3ZOxxq9VuucT+yL4N8L+J9HWfxPpj6kBdYjubiTNncskeEXy32GZ/wDcf/4ivRy/26+GWhz4hUXGzWp0/wC138MtMh0MfFLw1MPDV2mqNpF1pD6fNaxXvlSSIlzH/A5ZER66cZKVRcltTzMJL2E7y2OO/ZW+L3hHxL4stfCnxZW2vdOMrm2juw4s4ZQnI8lPvP8A79VQzpxw31Z6P8y8TlXtp/WkfUfjJ/htpmjat4H8K+HNOMJfyLlbaKGNom75H8HT7lctecnT01NaULLmPOtMFxYx6lbM0kaC3jhX/c/eV5+x13OW8cyvF4QvYTcMHbSikR39MSVjKV2bQ2Or8G6fc6V4Wt7dHURRu7MgT5B8lWl2GpXNJvOSPdA/mIaUtRtllVaTEmeFDO3/AHzRKDlG4Q3Pzz+HFmdT/aA0mJjsSTW3O8f79eVGnKUjvjsfdl94cimSa1nkSWOdSm9NldXsjncjBu/gf4Yupd81om72ZKXsrkc58Ipqmo6bHbwWsL6bbz/vPLEf+srmTSO+VOx7H8NvhSvizRhqds8sRdjBOI/MroVKMzkdTkJdU/Zl8T2V6g0Yi4t2/eF5o6bw4vb3PYfg18BbnwZptzL4gjjv7q9/1zTR/wD2yu2jT5UctSpzM9WSLR/D4MGn2sSbeiwLIP8A2pXQ6tzHkSKd7O+oqhlkcRbvlVTU+0KcGwimEIwm8Y96alcRKiIqHIOB9/5K13GU7p1RcmH5Pn69KynND5blExx3b+aY1H9z5PnFQtRK6KstzDPqkenYCQRfvH2H770J3Lbsb6aaby4hdk2Rx8rW0afUxZekV9PtX8pCzf33rRu6Go6Ge2o29xB5UykXBb722sublL5bo2rbxpe+D9LbR7K/jgEr8sD8xI9v79V7RSdyHHoVgnlBiytKZOSWO53H9+tVNMj2Zl+JpzBbWxxsV5fmNZ1XzFO8TF8M6ZFp3inXZYJC63Mny1hFcpalc6ybw9p+q2E9veIGtmP7yN0+7WtSOhVM+WviP4Si8E+LrixmusxOuLYHsnevAxCsz0YO2h7Np0thZfAnU0W6DSz6HerFFGd7nfaSV3c/unO1aR8r6KGuLWFEVrhpljRD/wAtJBXnqd5nfL3Yn1x4E8JReEtDtbKKFBeiJHvJI/n8yf1q52/5dnHriXzQ0XY9F03whdPbveyxiBMlkldXd87yrvv8vYnzhE/4Ga5pYylSv7U+iwXD2YY+3soc0X3938/R/cbB8JwwiVZ45LcLvyk9s+5m3n90V/vcRvt/uV5s86w6unH8z67DcB161uaotezT0777dL9yK88NWUQuRFFFeKrOvnvD9nLfJ6fdT/vulHOsPe3KaVvD7ExinTqJt9Ov3bnPax4cMDb4GwGfiKSTej/x/I9e1Sx9GrpSZ8VmPDOYZYuarFp99zzvxl4fs9dsZLa9hDsuNu9P3iPXTOmpr94fO80Y6TWnV9jwy5jnt4LrR5JDHcxzeUZQfUf6yuNRszujFJXR7D8GrHXvHPgXTtY1y8+1X91cXck905RN5NxJ/wA8/kj717WGp3R5uIlroe02WlfZbeMSSEeWteskeW3Y0rexu3hNzFa3TwD70yL8q10Ric8mQajcSRmCMoSM5ZDFWyKuX7JhaNJJGhLsOWHepeo0yldeY7SPI7biOpaogJ7nwv8At0PJH8Q7GFizIsHy73r5vMT3sHscL+zL8Urv4XfEq31GwtHvrqVfLjjiXHz1xYas4ysdFdWVz9FdI1zVvEWk2Oo6vua6lT5fMl8xtv8AtvX2EG6kdD5+rqyaeBHjZHO4twQe9U42MVIg1GV7uyt4Li4lnWE5SOY71FRyal855X8RPgloPj0RtfRZmj+4/pXBVwzludsazWx5of2aYtDWSPTb54Uk681x/UzqjiLHCar+yw4vzI135iP29Kxngi/rNyCP9lbFwsa3Lur+9ZxwjD6ydn4N/ZdttA1m1vXlaWSN96IUrup4Hl1MJ4jm0PbrHwq1io5YZ6mvShS5Tz5e8zegsn2h1duexxVyjcIuxbjDJLypYVzSpmqka+kfZbG6keSBVt7j5ZlP8VYcljdMva78P9E13T5YGsrcwTDDLGsnNYyiO58J+MvC0P7Pfx2vIWt0vNIELyQQl5I96v1H7v8AeV47TpVrnfT/AHujPLfAmnR+M/iLpltqOl3+s2s96GvLWyDLLNDu+b/c5renQ+sVtS6k/Ypo/X3wr4i8L/EHw/rvwt+HmgXWm6Jb6a1rDfXFr5VtE2TiHDnf/wB8V9LSh7C0pfZPCm7N3Mf45eMPhr4C0vwd8PfjFai40uTS2SXU4PtX7l4lCRs7xo/zP+8/2Ermq1N3B/E+v/At/mTGn7Vq6Pza8KeBopviPLfaPrJg0u3u5ZLXVTBmUwbpNr/7+zNeYqUXK73PUjVkoW6Hsd5qWkeDZDqT6rfXVnJco6R20r/vf9+SOvSnBKKOeE3KR63ovi6x8S+H7W9hXymuYNxDvXBVdpGrR5/8br5LHwzZ7Cn2lUSN3Pb95WM1oVHQ9D0rWLa78LJcOnlXMls8hyP49laReomL4cvRJ4b07c+JHR92/wD66Vvcjck1HV5LWyuZ0fkQynZj/YrGVRqIOn72jPg/4Izfa/jhojt/y01B3/SvNh70z0pe7A+3L/xHFYfOFDrF96PfXrPY853MjUPFckMi/ZGd4mGcf3axdhanhPx0/Zh8Y/C34dad4gubqCXSnvXt7SIRyJcyof43ST7hoxOB5W+U6aeJc9z1v9nnwmfDHgGysrxUe7k/fSb0j+T/AMiVhRpSiTUSk9D06XUbTTYo4oraOSVfvN5Mdd1kzKStsNl1CS4GZDtX18unzW2MlG4sLxopxGob++9Z8ty1IspODnCDP+5VKmaKRYS8t4fvKAapwsSQzajAWAwDWbm0FzhPG+u3Oj2xl06wF6wj6H++9c9STOiMUzpNF01pbC1kuSsVwy72TFdVDU56qsP0/T4jrFzd8ymMbFd0/jq4x1MzTuZ47eJnkZY4l+Vnc4AFdsbJGTNC/wBA1bStMtr2/sRZx3K7oo53zcMv951/gqIpMcZHF+K/tEFkTaKXuGb5ET+DiuSsrHQmQ22nAxKL2yJumT55gKwcWtUCZnNq2peGdSaFZzJZNzvkcfLUubRaF/4SZtTl8hE8yAt/rw/yPRTqcwVadjLvvFdxpOszi1tFuJZvu45SqqT5TOnAdqvxW1HR3t5dZ0y1Cqv+phm+/wA1m8RdWOmMNTxn4ha5/wAJ94jS9s42lllHCSR/6uvMrSuzrjCx7P4Y06DSPhzeWhhT7dLp91G+/jb+4krqivdM5L3zxP8AZ00E+JfHXh23VdywQi6Iz12R/wDxzy65LKLbZ18sppRjuz7e0KwsrWKC+SS2nt3WOWOTY1xEys7r5g2/wqE/4GlfJ4zMn/y6P3Dh3haGHh7TGU71NeqVmknbXq09OzLSXOlFoZrmeF/K86ZxcvN/q/uurZX+Jvu7f/2fmlVqVpXqvv3/AK9D9UcMSuaFOL15UrKO+6a16Le//DiraBQrxQMUtWtZNs0zN5irudm/us0f8P3fvfdqJLsuluv9bCbqN3TfxKS0js3ZJd0pdfi23LMMWn3KxxW8b2zM0cJ3X7cvGvy/w/u127v++mqo22t+P9WMZOvBuVR827+BbSevX3ne33IdbXU1/BcXf203UFxb77gteQsZHZm8tmEn3m3feX723dVxrVcO703v5r9f+HJq0qcGqEqdmnZe7KySS5kuXZW2fw3sct408LJcWE19awkpGzLJEGRkx/GyZ+4tfaZfmV9K7PxviThPDxvicLHfVrX5Hyv8R7B9L8VWk8ZfL/8ALX/npX0c0l7yPyBys3E9s+A10918HfD5ZTE1sbq12nsiTyf/AByvXwkzzqyud8xcgc9PWvTUtThlA19Ou763szaiceTJxtCVummcziN+2FLhTtBT+LC1pYVge4V3Zj8x/i2iiw7FSe8UOwHznHapgtGOWjPjT9tnwxrGteOrLUbTT5Lmy8kxho05r5rMdD2MI7bnEfsq+CdauPitp16unf6PZyq05uFwufQVjg4xqSNMVU00P0PubpZbgg7MM3yg87a+u5lRgkeE5XZTmnDKwzkelO9xNHXar8ObSD4OWnjOG5ke+keKWW3c74nVn2bNlcqq+/y2E4nn7c7x+tdSknuaqJUu8bhgHPRMVlJpDMxreG4j8sqAVXev+xWNRpIa1Obh1ZYL4TYwY2ztrC6NoxN5fF+nqQ7jyh6lcVp7Ri5Cw3i/SHJV541/L/GrUpPoOyL1r4g02cmNJgyt6HNQ5smyLZu4piTHIG2/e31POS12CaNbq22Ido3blZBWU3Y26FzSNWjKy2k5YFOm4v8A+yVjuNM+L/214by7+J1tdRrJPYSWvlxNFvk5/wCB142J96sejhnyMyv2VfjfrnwF+IAuNK8Owa9qmpwPZrZyqhZ3k+VMkfcHFb4SS9raQYiPtNUfpN4S+LXxI8HJp3h3V/h5Z2uuzpJMksV9FbQEg7inz/cr369OLjzRldM8WN6js0fnT4y+KHxA+J3jnxZqXiNvteoyz3FubWeaMW1gu/PlRZ6nmvn6ylun8J69KlGNtDiPhn4N8V+OvHVr4P0YwNfTuYw91IgVOOweSpw7lKWpvVUYw0PrP4hfs9eGfh94Zs7bxFdz399bphke+W48qX1EcMmxK9qcXOF0eTCooy2PKfh3q2saF4gv9PS4ms7QP5flXb8xmvm6lZuVj0pxR2HjnXtL1XQIoLyWG5eN/lePtXRKp7pmkT6Lr9+2nvG6SpH5WwRy1aZJq+GNauV0/TbFyiuV8ku/3DXTF3ZnJaNmh8RJYvDWlXKjWLWa4NrOGRe/7uvXxGEjGnc8iji5SqWZ8V/BaVofiro0ytwk0jmvlIe7UZ9TL3qZ9ctqXmrzL5be1d92cdjOnmZX5C09x2KXxf8A2iX+OsPhTwd4e8PXumaNpphQyzjAAT77/wDj9d9bFc17dTjp02j0TT7nybaONE8qNF2bCn364ISk2azZfhUk4KsN38YraxBaiRXq0NDjJ8vKdabZVmRT32Rz8v1FRcVmUp7kPLwQfwqjUakMh+bcoHrSIbL0VpvClgW+i1VidTTS3YhWX91JnNWkQxlkpjtTAnVJPmFNFPY6nwXr2i+Fb2XVdTsjqOpwjFohXcsZ/vZ+5v8A9utHd6IyMrxT4y1PxjqP2vU5eWYGK1jfMUI7k0WUSVqcpf3LWURml3Stu+X5K5nqdMSo+tfvxAks5f8A26lSsZ2KeqMl7ZTWzF3kmT7571nNp7GqOASx1jwxPZCUy3Fm7c+a9efCLbOt6I6GHw7b/EDXEW6DRRWacCDkV3qnoc7qWOrsvh7oekzb1tzM69POfFawo8qMFU1PCPi3DB4e+JscVpEltFcRGQonevKxS1PUou6ufQegJpdh4HjSe6BmuLSbaf7o2U7uWpE/dnzLdnyx8KfFE/g/wHrupWiSpqd9aWmg200D+XJEJxJPPJv7/u7eNP8AtpXk4yreLR9pw9hb4yE7e7dXPubR73SL3SrLVkRLzTLy3ga3jFy3yIpfzFXfu2rub5d33f4t1fnjjFavb1+/v8j+o26026dOVpJu75Vq2lyt2td2XvW36WN2O5uwJdMQsSbS40xWh1RDCMSeZtIXcpTbs27flb+Fv4az96zV+jW/9afn3OGVOk2sS/5oz1g76rlvrZqV73vquq6l03dxfzOY7a7nnnubydURo5xukt2jX7y8Ssytt+7833fmrRNyei7+e6t9/wDS1OR0qdGKvJJRUF1XwyUns/gSavvp8XujY5JYz5bNLFFI9ve22IIcMVgEbfd+78ysv+0y7tv902/Brbtb+vyK5Yu8t2uaL1l1lzLffRp+SfLzd4E0xbmMCOxuJIrqG3kjkFhu3eS0vmf8BXd/wL5acndaLt07XNnW5JXlNJxck/ft8Sjy/N2+WpVjiAt55AituSQZ8hl2u0ytgKrKudu35WVl2s3y/drOEuq6/wCfy/robVPfapvbTqndKLWrak7XvqmndLXc+UP2krWLQfFf2G2ZRFBqTKux/uRvHv2f+RK/TsFifa4d030P5nzzKqWFzOSjs0n96uenfs6zNc/BnRG372+2XqbP+29fR4KPLA/O60nH3Uej+UxdVwN//oFesjkbuX44/s8YkZ9pz1rdbGDIrePzHLsu7oKoZI0OAQFHXpSAoSKqgDCs2PuUN6XKmryRyvj+FNYubTRlKFnHQpXh4te10R6VN8sTnfhtpNx4G1m+s2Cks+eDj5MVOGpewaJrO56dcT7mJViY9tfSSftYnmS0ZSmmLuGOMUvIrlZIdf1GXw+NFN8zaUGRlhxzWbir3CzKIuCE3FcP1qGirkF0d8WVqeW5LZkSXUkN3GuNhLbAKzlG5bdjmtVsBaandB1+YPuxWDVjaBteH7Se1MOp2fzOG/1bHl60pTa0ZFR3OvHim7aNxPoVq+/+IImK9BVrHJyNlG8vbXUJEmHh6NV/69+azlJyjoVT0ZgxmWy1Bp0h8qNm/wBVnrXlxUubU6b9jcTUI48xkoislbtFKQ+S7Ec0c6c/MUYpWEkWpD9c0e18SrG13Al4inpI+8Cuf2fOO58qftOeDR4F1jQfFmjMdPv1mSJQU2YZRhK4qi9idtKXQj1b9oD4o/FXxLa6tq/ii6F/boxt2td/+jMiZJNaSxUOXligVKzuecT6VfSXN7czz3aT3czzXE4/idx+8krhc3I3i7aGTPd3fhrV4b3TdRudOuYhgXMTAun1FEJcpVjtNRvf+Em8AW93q/xAv5dQkl/5B7y7Q/5R1q6z2F7Nb2OxdB4itNOtNRZ7K8sVjJnj/d+fBWbVzGUrHL6r4LkjXyrC8mCI/wDqxJ1qPZNmsKh63p/jS2uNKsrG6DnUjDthcp9/93XStjFmx4cvtP06+07+24pG09ZgsvkvIj5D/wDTOtPQOh7D8d/CXhzw74E1LUhBKIriylVMSSfK7Rb9/wDrPaqxE5NWucCjFT2Pzy+COmzW/wASdJLJ9yKTIrz4rU9qb9w+lptyHdxvR+tdTRy3ZB54/wCWijd71m7hc9FtNHtLb5ltoFf/AGEjrsgkzn5zSjgiRzhUA38pmtXKMRfEXhbtK/8ACu2rsJIVpYlI+XeFcVDBlGa6GThd5xSNbGbNefKQFqGFiS0SPJDyox9BRF3M27GxZyWysuZlwP8AlnsrVEXNAZUHyYy+K0S7g2XdJ0XVvE1xPBpFo989uPMnkQ7IIFP99n+SruluZ6mcW+z3LIW2sihiE64pdLmvUhkl2jdLJ8qfeei4rXEa9soo8LMrN/007VDbY7JGTqOrxRR8Msp/uOam1zRbHLalqM99NbJBHkhuiJXNJWZfKdJbWu+2Ko3lyOlOMb7mbuitqeihdDgidmkAl++5+/WkaSTuDqOw7w1p76Vrl4jMTIy/+062ujnd2dBLqYjhZYyXbilOrZFqnY+a/ipONW+IhmV8SRRFAO5rwsRK7PUo+6j6c+H/AMFfD2u+EdHlluhNctCSwF1JvVyuM5r06VP902cqn/tEZvZnxX4Y059U+EFwsKtPci4guAD0fZFGNn/kSvgsVU/etM/cuFsHfK61RLXS33n09+zf4yEmiXOm3DyQ2EIOo6dG975ipZOZcRY37twb/wBBr5rFrkbTP2HLW8XgoShFX27u7as3vorNa9z3RovsswiuJ5PPjkaEpLZruEke1trbvl+797+7/drGatC73Xl/Xz7djVS9pHmhFWaT0k9pXV1bXf4e/wDMW1ul1CSC1CW+8yqUaK0iG1WjVtzbf7rbvl/3qtLmsv0XY53B0VKpd2s73lLo2rK/dW19BI7kqvnJbI8ZRplR4WXdukZV+7/tfN/nbS81/Wo3BP3HKzulo09km9/LT+rkNxfWIuttyLaSCJtysHk/efeZvmb5tv8AwHd81KUY31/r+vvNIUqzhendN+S02S0Wl/8At7l0MjxZ40t/AHhK91C4mkha0zMlskrYM/8AqmTa33m2t/Dt+9/Eu6ml7ONl/T2/r/IpYdYirzyV421dlfl+JarZXXW+32ZWPhfxnrWoapYW13fX8l6LjUXKzzSSMDsgt0k+/wD3M7M/7Ffb5ZB06F2fz/xjzVswhi4qyndfcfS/7LR+0/BjTzGhmkGqaj93/rpX3uXrnpn5Bi17PESh2PX7W0uZMFocuemHr1bJHnXuMuLWeRkzDj+9VXASOCaP+F1/3HoAhkS4ZcLHJn+/mgRlTRSxCSeVZSsahjuSspytTNYLmkcP4Tun1fxFqOrXIzGhEcTbQK8rDfvZ2Z2VXyxO3Tw9qushNY06yN5HacTyi4hXav8AuPJvevQqQTdjkjNzFvtR0tbtEi1G1ledci3D73jH9166YvkjoOUUxsqiZvmnVz9aq5lzETECJ5FZjEn33WNwsf8Av81DkHMyeOK3bcpnG3b2FVqybtkzxaWLPelxJNdH7yh+TV8rHcxL22SbOw8qf7/WsolMyfF8EK6lC7SY+0QEcn3rmqI1joSeHriFtImiZkVoW3LHWkZK4T2NVL+2jYKJgWQ1o2jJTsXPC98ji8sgY2CN50bOtbUJqS1B6bGtPBEF3SW4H1WolZS0JTKi2FnIpVYSZC1KUDRMgfTbGVBGUCs38f8AcrGUDRa6EEKw2pkiO47Pu/J95K537pWxz/xC+H+hfE3w62l6hBmMP5ysDJHXJUpe13N4O2xx2jfALSdAheK1uMb/AON3rkjgzT2zY+4+EUDQuqyNLGf9urdFR0Bzucl4s+BM2pWLxb/nKY8w1lUpJLQ0VSx5F4o+B3/CPvZtPdJC8HCYGd9cnszpjO56Vc6/Fo8Hh241KAiAt5aPGn8FbWsKcDk9R8atcajdJHPOLYD5P3dZuo0ZRjY2vAuuaZrOuWcVxcJNfwvJIgdOa1WxJ6ZcG2Z7eMTxtGZgGZu/zGtEV0PXv2ntaWD4HeJ3iltp5ksVaECdWD8p92qr7HGleWp+f/7Pbmb4iQtL/wAs7SQAVxw3PVl8B9LXipKflzwldJwlQ2i5OR9M1FgPQ9I8NeLNQEcg8O6ksZ+623Z/6HXUqaRhc3U8HeJIXIbQLhWX+B5YE/8AalbKCHzMmXwrrzRfJpIjVv71/ap/7Uo5UaczK8vgvxC4XbZWi4/v6nDRyoVyI/DjxGERpbfS13ts2C9/+10vYxM/aSLqfDDWI4mknk0n5eAUvJP/AI3WipRHzyL+m/DC+1C2+1CXTYQeQSZ5H/8ARdXyRRHNIvr8JbmKPP8AaNlGD90JaXGKXIg5mS2vw2imvbaLUPE6W9p8onkisVR9v++7/JWauZts9G8Ranp+neH4vDfg3VbbQdNjX97cx2yuX5+b5nf52/26pLqxXZ5vF4AtijJ/wlOQQDj7Ar7u3/PetNSrsIvh7b3ES7vEce1vvf6Av/x+jULsgn+E+mhEK+JFUs3KfYof/j9RGBCkzGu/g7aSMzP4uQJ3X7FDj/0fSlFG6m7EGm/DHR1K3L+L7Yd1XyIf/kis5RphGdUvaX8MdNtlmaLxhbzvK38dskm3/wAj1cI0wlOqL468D21h4Wlux4jW4kjkRViFqkYb/wAiVs4JswbktTm9G8LQ6v4hvIptZjsRHb+aHVPM3Ps+588lZukkVGTZ0L+A9IbS3nbxmIrgq52eTBj/ANDqHF9jW58z/FzwZY+EPFSpa6rJqxnty7z+XHHj/v3Xi4mmerh52R7v8HPBuhadpGj3knxAu4PtGx3hjlt9n3h/A9d1CElFI5JyVRKXY+VPgrNFP4ImRSUW0mhkkQd0eIf+1I6/O8yi+dH9M+HlWFbBVKDNK3vV8GaxaXcTSrYGU3UbwozvYS4+cf6z/VPj5/7n8+SdOOIje+p9BGpUyDFd6cuttI/Lqn+B9eeB/iPoviCHS47prSLWruSYraiZGVpPJRVZWR/m2f8AsvzL96vJtKcuR7/8DQ+krU3KLqUJe40ut3ZSbkrNdf10a0R2EAs5HgnljAMLWsgld9zLHCrQsv8A38/9B+X71UoVIdO34afn/wAA5Z+1inCL351a1ruTU0//AAH8/e2Jlu5hpcVs0YQRRwZWYxxqphk8yRfm3f7P+1/vbqSU4rVfl03MXSi6rqXvdy25n8S5U9Lefl6WMjXL5dN0zVrtZSnlWtzM6JPt+9/478y7aThNp28zvox5p01NaXjrbt+OjufM3xN+IWreLfEdzY6fd3YeS4+0W1hJDs/s4bNjzTf9Nvv7E/gr0KFH2qbqOyPGxmYTg1hMKleyTaXT+vv6nmvxd0jT9Dbwd4e+0w6fb22n3V5LcyjzPvOTHj/b/wBEr38A5VKZ+Vccwjh/q+DW8L/jqfV/7G2hTar8DbOexEMFr/aV4kM05IFwxfLvs++mx5Nnz/8APOv0PA+5RSR+C4m7lK/U9qj+HmtznC6vp6e7xz16XOcViJ/hpr8Yd01bSy3T/Vzf/EU+cLFceBNWm4F/p+8fe3mT/wCN0JklefQNat5BGLiwLf7Mkm3/ANAq00Tqc58Rvhh428XeGWttGvdFsLgfMJJL6Rc/+Q65cTH2ptRqSRg/Cb4S+P8AwjY3VrrVxo17BJ0RdVL4/wDIdThkqJVapKR3kmgeJYdH1CztGsrOO5iaN1jvkO7/AMh12ppx1MqacThPhz8FtQ8HiYRWdnez+c7b5dVO1RiuajD322NzO8vPCXiNs/8AEvsSP9nUlrplNGdj0/4TeHBB8MvEtjqlva295K82EWZXGNo2159ST5lYpHjtlomqR2MCy2CGZUXf+/TrivShJEJlXVND1S5sZFt9F8yfqwW6hT/0OSrdmVzOxQj8O6taKsV3pTKzcf8AH1C//oElQrGvOQ3Wg3NzJEZdNDeXyrPcJ/8AHKGkDmWF8F6siSzW+kRujfeT7ZbfP/5EqNA5iyvgPWLmESR6BBsb7yPd23/xdK6C4Q+DPEWiSNNb6LAHkX+C+thn/wAfqVJDbDyvEBhO3RgzD7zJcQ//AByt1KJm7ma/9qq6+bo9wkgGduxH3f8AfFGjNLskkOoQsP8AiT6g3/bvJSC5S1i4ki2yTaVqERz/AK1bJ6xkm0UpWM5rlZ4MsTGHT7u4JXFOErm0Z6Fea6tg3N5Gsn/TSYVD5ilykLSq3JnUj1jk4rFqRsuUin1E4d1mEg2fIQc1nJysKKieOfF7wXqfjfUrW7kuvItbNfnjP/LSuKXMtjsio2PLNR+NcdvbQ2F1oxms7P5IZdlZOo0aclzKf40+Hpef7JKVm61heyMNPGmnT+PrPUdNh+yRbPLf3rOFW7sbKlZH0L4ZtJdait/MuFlgGR9/Nd0XdHJUVmbXxR+H2s+IPDZs7HULj7PIpQhpJAc06q5jNSseReFvgbrvg3XIdVhmEv7vY4rCFJmntNLHssekNY4Ez7/l+TFdljG5fSBOcRN+VFguer/8JZe2qxqNTt4lX5QsdpB8qf8Afuu12I5RV8RancyHZql05b7zQWkB/wDadHMg5R4n1i7CbLnXZFUfwW/y/wDoutboVgnttfwWL68qlvl3u6UcyFYlg0fWpXRZW1vd2R7p6kLovQ+HdXD73TVJAedsuo9P/IlUO6C68Fao1tK39myLD/ce/jVf/Q6diOdFOPwFqc9xIE0S32L/ABTXkfz/APj9OwudDpfBdxpsDPJpFrw2fklgf+lXoCkiRPCDkFhpNp83dmjoujS6LkfgS4uYVePS9OOF/jnjqPaGd0Sx+BblZI4TY6QGK/Kv2kF//RdLnC6Fn8CXlmGH9maUzbf4Jow3/ougSsV7bwRBZ61Hd6no+nXkKruW1370T/gH3K56ik9jeLitTptNn0yAbpPB9gRu5UInyf8AjleXLD1G9zsjiKZBdHTLi6bHhCxiiJYqVRDn/gHl1pDDVV1CWIp9jhPFvh2ztdAuJra2tUCT7sRqAuf9ivWSex58pRsZWg6fb+IvEl9E0EbYhQL5gzWvK0jFTi2djY+HLC/BDWMHmlduX2Lu/wBqmpaGnKfL/wC0fnRvH8ml2cMPlLbZLxNvI/CvBxstUenQjofRvwT0GxvPDHhSV7W3kaSWPcWmRG+8K9KlJWWp5s26bcD4M+DviSLw/qlr9vOzTbuP7Fc/9M/mGyT/AL+f+jJK+MzDDqTT9T9T4Tzd5XiqdNPSR79f6UXt7qyubJMtE8Bd1/v18bGnUUuZbH9MfXKeKwvsrp/ocnpnhbWvDomufC2pvZ3TS/Lpt18tqxdNm9W/5Yv0+/8A99psrolOnWtFaM8Whl+Y4ZSxOEnddY/1/TNO6+NPi61t/wCz9R0bU7WcwCKKeA7xvdt3m7xv84b/AEoWA0/imFXierl8rV8Hd+q7W06bGxdfHvxUFaO00K/cySTzP5KxxMiSJwqO2/mm8tT19qc8eJYySk8G3ZJb/wAu10tLmLrZ8X/EO/XUNRis9FPkpBNchN940aZKff8AM8t8oifu/v5NNqGGd56jX9r5nt+4pa6aPd3f4nTeD/BdraSRwrbpaW8Y+0TXEr/wL87zTu//AH8rnm5Yh/uj6GhgMLk8HiFv3Z8z/EzxnB4+8d6vq1tv+wP/AKNYRSR8/Zk+RAc/387/APgdfa4TD/V6HMz+YOIs2ebZjOv0/pH2X+xjosc3wP0nUTc3Ebpq2pwyRRSN5Xyyqfuf9tK+ywD56J+c4xWrzXax6pqUBedprZrqQ7vmKyS16qgjgdySOG9VUY2+pBX/AOmctHIgI/s0xGFXU4GP8WyVKehAjxyrsw2pYH8WbgVSsBHfajemFlN9q9uD/dkuEpWjErmUTOttWurchG1fVMj+9PLSaUti1JSFfUpiWU6zfr/28NT0WhDuCa1LaYb+3rhH9ftBrf3YozcWyRPF8obJ12eT+9i5Ws3BM0uyRvEt1KTnXJcE/Mvnqd1ZunEVykfFv2ZMvrC5XuLiLFOUVHYvkMuH4jxXMrxR6jLH83zMjRH+tZKRSiRTeJYn/wBJ/t2eU7fuyGKiU7DcBkPjF74HZqIb5unmiiM0LkNOLxVfL8iaw0aZ/gljq9BcoieLNSQskXiGVT/sSxf/ABuloHKI3ijWVOBr8zY/heQUcqBJ9xg8Q6xsZRqTld3aSP8A+N07IpRFbX9QY/NKJHXs6J/8bqLoqxEPEeqWpwbiIOG+40OKd0KzLQ8V61G2yN7WQf7URFP2kbAMg8aXg1ESyRox27NolNF4sXMX4vHF9bQwxtZLJ/HgTH/4iud2Gosx7nXpbq++1Naxlmbcwwc1k2kbKLJbvXob2QyTaJaFV55VD/7TqGlYWpSuJdIk8xX8MQzIV6LDBj/0XWDii02jz/xF8NfB+q6dLBF4XSzI43xpHHxXLLDHSq5414r+BXhe1DkEWk/9xjXLLDnRGscQfhrZabqMbRvH9JKwVGxpGvc6S203UNPCC2llwg/d7HrVXiE1zHpeiajr1totqHjmlLv8/md0raL5jmaO50LUYVt9l5H0/v10JW2M2i9NJpcpKbwauxF2Ixhz0iosF2eiW/jFbaYNAltGy/dzcn/2SupzRPIxH8eXci7WvbJIz/C0slHOh8jLukXfiPVbNZNPtRd2p+ZZoLbej/8AkSs/rEHoa+wZZzrpiRp7cqEHa2RKXPBh7FjzeXoYETQq6/7UPy0+ZE8gG+1IBT9uHzfd2NDVproHszM1jWNZuQkK39ysbt8zK0FWmiHTZPbanqKwrnWLlSxT5/MSk2h+zY4z3swAOoyT7vvea6UcyK9mMEmoBstdTKN33TMlPmQchaWa/EQCX1yh/wBi5qOZE2Eb7R9oEzXt7uK/K322jmCxRj0GUa42rnWNTlkDY8tr35P/AEOs1GxpYui8vLh95uZHJGfmuK12IJJruS3Qs1+Ikb7hFxiouTYjMxuR/wAfInQ/3Z81d0FjK8XIB4cmjLeYPM+Zd33q0UdCJbHPeBfN/wCEqvW2eWPJ+VKiC1MYrUqfF+7vLebTJUmlgDR/N5bbN/515+Ndtj0KZ81+P9TlWS9vJbiS7mYfOzPgCvHeq1PTWx2nwB1zULjQ7LGoXMbpKCgWQExnPFVzeZzySueGanqEEOu6obCyjSyF1dRJa3Efmfu98keKTtJHXSbWq3PQ/hn8ZodPhttB8WswtoxsttZP7zyI/wDlmk/+x/00rwq+GutEfpfD/Eqwy5MXqz2ebQ0a0SS2kWS3u03wzwvvSZPZ0+/XiTw7i9D9cwOcUq+sJXQ2Hw7Ilskb7Whh+7vTHz1klJHZUqxru7gOj8PSxorJAryo2xXzUS5mduHrU6O8DUtvD8scd1qV7cW9rp9uu6a7uWRbWFc/xyP8iVH1SVdnRis6wmHi61WS0PBPjD8f4dTjbw54LKyaGWD6hqd1Dkal38tEfhIun3/v/wC5kP8ATYLCewSufhHFPGM83vh8PsY99FpXjDQLWS51o6dpCL9omns9Gs49jx/weXH/AKyvpZv9zY/JEnq3ufVP7HmqxWHwDsYtJaR7Zdc1TE10nlyTNvjw77JPTy0r6HAK9G55GLvfU9pOv3+7eYYG2/7Jr0rHmkreLdTuSoRbRGC8Ls+9/wCRKLDKtx8S9Wt2MMsFtG/8JjD7P/RlLkESaT8WtUsQYLiCGQlvvJJJUOBaRf1H4qaooVRYQBSfveaatQZJhXXxN1qaPEdpEf8AtsR/Wq9mUo3LGm/EfVIZwZ7RJAvzbUmkqHAmzOqtfi/KAG/sSKUD72JR/wDEVHIx2IT8WGt7i4km0VXjlbgJMv8A8RT9mxctilP8UoSgF1o6nc33cq/9afsmFhLzxtoMsiTS+GbebZ8zfuov/iKXs5BZjbj4heGpH8s+EbePK/KDbW/zf+OUeyYWM7VPF3hbYjJ4GtriYbcsbOL/AOIo9kwuQr4t8NwyJb23gyANL92NLeFBuo9ky7kr+NNNlZlTwetrJFw3miFP61TptdTFu5hr8cNLEIP/AAicBAAAdPK/+IqHeJpBXL+lfEXQfEOn7x4cgDqPmV0i/wDiKqKYNGimr+GZFYTeFraTP8D2cMn/ALJVuDFEreV4NHmCTwfbru9dPhrPkYKRUvF8Hi2aKDwrDGG+6Us4U/8AZ6rkkXcY114ThhZYvDVuHVc7ns4f/Z6SpisVGbQZ7hZ49CgGBkf6LD96tVDzFZFWz03T4riWS606G4id2YIUR9v/AH3VSppqxS0IHttKdmYaPEEUfwxJ8tYOki+Yi+x6PCsqSaZvw3DbPu/+RKTgylJEIt9KllkaK0ktyf4X/wD3lS4MvmHpbaYka+dbSNI3yK/z/wDxyqdC5PMZGqeF/DGqGP7VZyN837zMk9YvDlJmNJ8Mvh1deULrT7vYnLBHn/8AjdZvDlKrYda/Dn4fWNoBZvfW8jH5VaST/wBnjqPYGntWeieEfgJpvibRFvNM8QTSRg5KI0LsP/IdYOm49DNyOO8Z/DafwHqJh1ONpoZeIr2OMBX/ANhv7j01G5SqWOeOk2ThwrfjvrKSZsMGiwF2Ik288/PSjcfNY8u/tmXYXM0m/wBd/SufmZ0nX+BvD13r+oJcX0klhpsIJZpZM7qhzdrFI9T1f4v63Laix0eSGzs4k2pK0aTsy+m+Sso4aV73NXUSOal8XazdWohn1IlBwMxxpxXQqLRzyrO5UTWLvbhr+TA9GFa3J5mSf2nfMSReTD/fatEw5i4NXumiKteSNmi5Vxg1GT/n5k/77ouK4DUZk4Fy6H1R6XMLmJRfXRTcJpR/c+alzBzBJqN0hUCdj+MdFyBWlv7pdxviqeu6i4WuEU8wIC6k2P4k2jimqty2Wre7iZXLXjnH+1WydzN6bmxpGuSaMkvlSicydTJNipsIj1TVn1u6+0zTsjquVi87JrVaDsZ2rlhpjgTM/wA38TVbloZyVzJ0a+Fr4hmeZwrNFs5rKk9TFFT4i3f22Oxfe0mDnivPx520j5x+JMsYsb7JPmbBXiLY9RHZfs5kv4etiTvxIKps55bniut23l61qieupXX/AKUSU7pHVTM2a2e4k2wo7ySf6uKI1KtUE5Oi7PVHU+E73xH8Ond9I12604s3nyWMPlz2ryf9NIHMiP8A9+6ieGTZ61DMamFV8LK7O4t/2nfGGmJGX0jwzqDp/HJZ3ce/8YJ44/8Av3XLPBJH0UeKsbBW5jPv/wBqzx7eweVawaDp/wAn/HxDp0k7f+R3kT/xyoWBTJlxZjp/a0PO/FvjHxD8Q545/FGuXuveW/7mK5m2RQf7kKZSP/v3XXDDxpdD5zEZhicS/wB9LQ5yexe3GSfk7S1u5p6I4+aEdaW5pQ+Ibm28OXGi7Ifsk778SR/vI6qT/cmLWh9qfsVKzfAe3ib92ia9qQRv+/FfWZf/AAEfPYz4j3sQweZnc8n/ALNXoHnE0awwLhY/nFAFa7tbW4Hk3SfKwwZHOc1RKkcncTxRXTQGQFFOwTf3qqxsmaFveRFGguW3RsuVkz1qmiVoMWzt47iRre4Doo6tTL5rGhHC45BAGfU0jO5Xuba8MYQMsW3g7Xo0E5MWGGdkVZpY5snfwiVFyuYgmtd6oQis1PmFciYwlSGBjK9zTuXcbaom75i0iIOj0XC5elu0hj2liqZ+9TEZlzvjlju4JB9oRso71Yxlz4r8QzyLPJIi7jgqjFMLUWTQcrOA8Xwrb3pvIogsUv72RVPyI9efWbR000kU9E8UDQ7wTlHeLJJUDl6ijUcty6kEtj1tb5buwW+RVeCQnaVf7telF3RxselwzAkN8rLmkTyh553bV+ZV96C+UilAmDkr8pX5lU1Dgx2KzoAoCllR+5qHGQWIopJUYBZDnd8xFO0jRwFUsxCo21S3NLlkZuI6aWNF5+Zt3HyVsUolYXDNghKltGiiMknkbykAxU2ZPKRNO2UO2TZ1p8rL5bFaWV0AG3zGb1rNpj5kUnuwUztZW/3a55KSL5ol7wv451PwTqaXenStsYfvYGA2ymk5cxM4WPXdI8bL8R0msbiG2uLO4Xe0cgVggz/t1ly2Mkux4/8AELwm3gPUUVi0unTYEcgD5gf+61Zv3jWErs5SdhIVwrMAKzSsayWpV0rw54ciZLi5vfN2/OsSHpXAr7HWafiLWZbsQQfNHaomVVU2V0xSQMyZLpgSqsAf+mdO4WJkZg+XUfhRcQ6OzefDbhEV4w/NTzoC0lmzMu5jj++aPaAXDBa20JaRtrP6vUc7GQtdJGw+Y5/ho52IikvoguVPBp8oEC3Jf5cbF946fKAiXSbhl2fee1UkTclXLfwc1dguOSA+Z8rJvpKGpN0SxWz7fmJP/Aq1UAui5DE7Dl3A/wB+moGI5IVhBjVm/wBsV0JDK95Avkg72ClvmqZGRFEYn8QOsC/uivyU46IzKPjNVa0t2PXNcGMV0d9J6nzh8TJIobHUnPDbRXza91nqxd0dt+zYn/FL24x0k6/jWjbm7oxrNcx4vr/nS+J9fMv+s/tW6jz/ANt5Ktvm0Om3unovgHwR5Onf2hJHvu7qP5DnmOOtvZHI6huv8OrrU5xGkbZI/wBTGmc0/Y9SVVtsMvPgTJBG8uoXEdls++bhjHso5I9y/bTM2/8AgNMIt9ttuCP3mUY8U+SPcPbT7HKXfw6ubF9s6Oh6dahwLVa+5TvdAZYJIQ0nlS/6zNTymql1ODv7Se2lkh/uf8tKia5WVfmR9v8A7Gvi21f4ERrrN3DBNDrt8irs8vEYgtEXf/t/u3r6bAzdj5/F00me7weJ9DWfd/acKhfu8V6XOedyslHi7QpnWWLVIVbd6Glzhysh1HWtLu93/ExtW+rVopWDkZlfaNLyGkvoDF/ttV85XI+pVuZrKCT9xf2rq33Y91Q6txuDQQRtaTiWFAFxjYGxVxkmZ3aNm3urGWBi5aBx1XZVKTJcmyoupaEJZFOqFHjPzRslKfKVGLY5r/Tb+UfZ9RiJ/uglKhTiX7N9B7Rxkfu7uIbn+95xq1yC9mynNBF55Y3MJw3VZkquaA+VjxEqNIpmSMk4b9+vFHNAOVlSfVdJubdraS6jGxtjcGplUSHyszLrVNKZcpdoixr8vFKNRIfKyut+CQIr2Bof9tqv28V8RfKwgFncwSh7mGUvgnePu1m6mFluBxWveG20q4ZBtmtmGIyv3K8+dNdDSBv+B/EclhFJpt5uETsfL3dVropS5RTjc7cNbwRZaeJgOjq1dLqIxcBGvUVUEcoZWoTCKsV7nWbO1O6S6jSM8yOVo52XyIqP4o0iynYT3LQ7n5LxOlF5C5YjIfFWj3EjRJfwmUvsIzsqJVbF2uWLa8guWxbypIP7m6qjUuO1iUookJ243PQQNDxL8pHX1oDUa9zA6fLH8x/ioAUQgs6pEihv79AEf2Qomx0G/H95Kpxiw55DHsEE6MkWE7cVHKhc8iq+mKsm7YrFe+ysbG3MXfC2ujwZ4gg1SG3EsSHy5oE/jjYcVMocyDmR7jfSaH478LXEVqoubK9+Qh1LFTn+49cMotEpWPlfxx8KvG3gzVTahP7Xs3LtbzQxYKru5Vqi6e4c9tjAsLF7aAySBY/cPXPoenoXHuraFm86RB8npSbsInbU7ZIj5cQIR8F6i7ArHWTMGZVUyfwU9QIVnguW2MzUcqAtyTRR2xiLDpS5EBA0pDAmeQR7/wDVitvZoixaPlsT84f3o9mgJAiI/wB3mtbASwrG/wAhVfm9KVmMV0tw21hgH3qbGd2JHNAi4Zf9xK0tYV2PZ7fPV/n/AFpKRFxyRo3zROD/AMDrVTsFxxdVyDceW1VzWAat6hPN3E39/wAthRzhYgeZZZERJIpG3cBTmpk7mZJLGi+ItiOsR29A9OL0M+pFqNkmowsJX3KqhzWGI1Oqk9T5d+MDfZ7K9iP3i3+sr52ove0PWi9D3r9n3wlp0Hw50i5Vf3swy+a9zD4ReyuedOo3I+edX0U6p8UNb0yJBJ9o8TXtqmf+v568lQtUaPQc/dsfQnjrxf4Z+DGhW9xrBkubyYYsdNtAn2q9/wBsf3E/2/8A0P7lbznbY5YQcmfNviz45+MfGt08EWoy+H9Ic+X/AGXojyW6FPV35ebjHD5/65151TEW0PSp4dM4OLRLYgMIIlk/56SLWXNN6nV7OJbh06K3k86KNLa4ST93JbDy5I6OaYeziztNC+L/AIh0M+XqMh8R6f1e3v5PMf8A7Z3H+s/9GVpCtd2Zyzo2PTNPOi+ONHGo6PL5kYk8uaCSPy3tZP8AnnIlelTSkrnBNuJ5L47sDp97h+awqx1OqD0PpD9kjwRoviP4M3N7qF79muTr17AI4w/CpBacf+PvX0OBTS0PHxctdT2OP4K+EbsDztSmf/tpIa9J0p9Di9pEjm/Z/wDCYcPDrc+d3zLvko9lMPaRLf8AwqDQ7KQGHV5HVueJpKvkkR7WIyX4P2UjFRqM4RuoSb/61HJIv2kSvH8Cbf5tutzp2A31m6ckS6qZr6L4J8R6LObZrxLqwb7rNF/DVRgRzo054ntrox3Cqsp+7v8A4q6GuZaC5oo898f/AA0g1m5+22VxDHcEfNEwHNcU6E5bM3jOKI9N+AWpWltDdtrccTuMEQ4x/uD+5U+xktA9oi3F8KtZSB4/7eZOPm3kVahJB7RGW/wU14apHI3iWRoxJhx5gqPZSDnRsan4H1u+1OSWHUuGjQ7Mjij2Mh+0VzzXVbN9M1efT7iNRdwNmTGK4ZubO1SiTW0kMZTzmQY/2xWcXMtOAnmzKzmC4ZGx9zfVupr75E4Kx1elReBJNBgXUbrUrXWl372iubqNX9f9j/v3XdR+rvWRxSSOf/tuWFjYNO8lgsg8t5nw+yuaVbmeh08nKjTt7c31ojJICD/HVRb3Mm7mPD4l1jw5dSoZhcQbvkRm8ylGtcpRudtp3iRLvw7BePrcEU0iv/ofkx//AByupVDKatsYDfEBp7Z4rmCB8Njfs4auVYpJl+xbNZviQLyE276Rauix7VbHFarELcfsWct4hNvqUcMsUItp0bf8ozXJOpK5tCCZ2/g+303X0S4hvmivEf8AewBpDuruoSdtTKpGz0O2WFmMZQk7e4au45xG3Bf9SWHpQBWlUxvJuDLldvJqQMnU9AuLqFUt74wMg67qpSRLRlTeEdWkBMepyR5b+7HSVx8yLmn+GdUgnfdqhbP3OMU+W4+ZG9HaeRFAxO91Xn56OUVypLBEd58ltw4X56pRC5seEPGd74B1ZLqCB7uxJJntA3Xj7yVjUpJo1ufRHh/xFo3ivRbXUGSKbzASBtJCj615coNMz5T894zJN92Teg71wc1M9bkj3HNYM4LSMPyp81MOSPcsRWwlKK7NIemar92RaJZEMI+8Tz/yzrRSpB7pbiMMkSCNF+T7wxU2phaJYaWOIFynzL86/u8UrUwtEZfX6Xt15jja7n50NaWkTeJCLqKNucUWkO8SYXkZB3SVVpEXiWDPE6bf60WkF4FiMQ8kx+ZTtILwHtPbo2fLH+5RaQXgQvPHK4UAK7d6izJvEpzSSwYVce+admF4jtCurKw1m3utStzf26jmD0qXGbWhcXG53sPxD8IRqFbQhDEq9CeKz5JnUpwRF4n8aeFdW0NbLTdPEF6zJjnNFOM47mFZwaOJ1eG1tNUuY9SBBa3QRuDjZXQ+Z7HNFRTKx1S1ttLkto7mOVliflpRUVISUblqcXKx8ufF2TzNKYNMHMjf0r51VJKoe6qcXA+xvgUmln4Q+GCliFcQjJNfUUYtwPBlK0j5ssbiy0P9oXxprOrbv7J8Pa3r2p3Cg/PsSWYImf78kkkcf/bSvFnHlk7npKXMkkeG+LfGeqfEHxVqPiDWp995fMQUAwkS/wAEKc/cSvPbOyKsVLAv5if/AByuSR1RVjagwuD+gpGiiyZYsL/Sg2USK6X+M8Y5olGxmo9yTwv4vuPAXiKDU4WeWF/kvbLH+ug/5aR1vTqW0OSrA7T4zyxs+nz27+ZBN+8hlj/5aII/Mjkr0cRLmo6Hm0nY+hf2NvC8urfA65uY544gPEuoRbDj7yw2j/8As9e3l7tRsebi5Xep7LP4ElVv+PmLd/s4r17o4UynP4JvoORLFJ/uu1F4lXKk2g3qR7WBI/vLKad4CKjWurwvnzLryl+7s3PS9wu7J7K+v44yHS/mijbYzQ28uz/xyhVIkNM0v7fn7y3sBX726KWtFUiZNMtSa9YyT20t9dtJCjLu4b7v/A0puorE8r6nu+n6D4R8a6Ns8I3Wlz3SxES+bsIxn+PCfLXC6sk7svlPLLzUm0d5bdXiDxu0bRo7MV/8crrSi+pPUypfEt65K/Z2dW/iWJv/AIirSh3GrkMXiK/kdo/7PuZAvpbTf/EVHPErlQ99Su3GRZXQP+xBN/8AG6PaIORGRqenQavcG4u9DupZx1ZbVuP/ABypcYrZmvtCt/ZumzAINHlWZV+75Dbv/RdYuEe4e0KD+GLJnAGmXmf+mdlL/wDEVPsYmnOQHw9p8f8AzDrhT/t2rf8Axun7GPcOcadB0tZf3enzsnolqw/9kqVQigdQvRwWcCOi6bdrGD957aX/AOIrZRiupHtBZ9J0y+iUT6XdSj+8tjL/APEUOnEamUh4X0IzOV0a4jf+4LKX/wCN1jKmu5aqDj4S0oHMelXu/wBXs5f/AIioVCI/bDm0LT1j2rYTqf7n2Rv8a1VCIe2Kj6FBdBY2tplhX73+jt/8RWLoC9oyvpekafoWpm6top4ndMOEhP8A8RWsIqKF7U2V8RuU3CaXaOPnhb/4iuh1bGVkxk3ja6hk8pxJt/icQt/8RUe1L0Gy+PZEG4zp/tJsb/Gr9qGg24+IflguZY//AB3/ABrN1Q0G/wDCykKbTLbYP+7il7ZhyRGxfECJJQxltzu/gDitPbSDkgWYfHguCzZt2O3qrg/1qPbyJ5UTjxewjSaJY3K/dVzT9vLsHLEp3PieSOQFbeMhvvfJ/wDbKn28zRpFvSPGuqaZFIbBWjSZt7rCvG6pdWT3ROhUsvC3wxKt9r8bXo2N8qreIuP/ACBJXM1S7G2pof2D8G1kzL4l1Sc/7F5P/wCyQVNqfYd2Kml/BeFlH2vWbiPb/wA/V8f/AGSh+zHZk32P4Mbnb7LrEz9t76j/APF1m3TCxPbXPwbtAyDw9fXHrvjvZP8A2vT5qYale58VfCKJtqeBppCez2T/APx+j92GpGPGfw1U5g+HDsu3O9rBBx/wN6nmHysevjj4foHhX4awCTqrC1tf/jlHMPlY4eOPAYmG74dQ7M/8+1p/8cp3I5WSWPizwLAkv2j4fRzO0m4P9lg5/wDIlFw5WTL448BKdyfDpNv/AF5Qf/HKu4rMjbxt4NefengNVT+79kg/+OUXCzJx4y8CM5Q/DtML/csrX/45TuLlZAvjLwSh4+HUZkb+/Z2v/wAcphysmfxl4GADf8K6hA/68rX/AOOUCsyVPH/gqBf3fw1th9LOyoAyPFHj7w3rOhvp9n4Ki0i6kkQRzxw2qMv/AHwaT913YOLkYOg+JbLwz48W/wBQ0lPEMQg2CCcI2Pxf5KOdSREYNHU+Jfi/4a1Hwxq9sPh5FE8lq4W5W1tSEb+9jZUVJ+6aKD5j4E+KMvm20ak7iDINmPavnHOLqHvwhL2Z91/s/eKvD9p8E/CsMvhl3lFsEMxtkbzG/wB+vpcPdwZ4dRWkfFX7Quoj/hY/xce1VreLUPFuoKIdmzELXjzFfxkij/7918/iJckrHsUI8yueOw5CE9a8+TO2KOgsIsQ8flXK2dUVZGrDCOCfypnSolpR6cUi1Eiuk5PGT6USnfQSRgajH5P/AE1/lWkFc5KsTQ1HV2uPCHh2CTe72j3kBz/2zkj/APRld6blSsebGna5+gH7Auu3Xg34B6rpLaek09t401WF2lfhHW3sF2/c9jX0eCp3g5ei+654OOdrR/rofScXxHmiU50qFvpOf/iK9H2bPNJR8TJI+P7Jhk/7an/4ipdNljLj4tzDYRpEX181f/iKr2LIUhv/AAuW5O9BosLL23TL/wDEVHsGWpF6z+MV7GvljSYCh/6bH/4ij2Qc5a/4WzcScvpUf4St/wDEUezDmuV5filJI6MdJjG1v+eo/wDiKORhzEEfxMMF2LuLRYkkK7TIk+3cv/fFHs7hzGNqXxBvxqL32nadbAsvMUkp+b/xyrVN9yUUD8dNdM6RNpdlC5/vXcm1v/HKr2Mu5Vyld/GrxKZ5ALDTY93/AD0uJKSolcrK6/HXxRC6R/2dp0j/AN5JpKr2CfULMP8AhdniMfM1nZIdv8cklHsH3CxXf4weIpnEgtbJSf8AppJT+rvuFmNf49eLYRsWx01j1w809R7LzLsMf44eK58f6Fp23t++no9kFhsfxw8UW6Niw04D/bnnqfZN9R2J1+Onit4lH2TTHHtPcUewfcixLF8d/FKjP2LTz/22n/8Ai6r2L7mnKRXPx28U7t32bTw3tJP/APHKfsDN6Fa4+OXiefcGg04bvu7TP/8AHKSosfKQn4p+JWKuwtP/ACY/+OVXs33DlILj4jeIJUYu9oGk45eSqSTHylmL41eKobeOFIdOdQvyBp5//jlZygugWY4/HbxTGmEsNMlb/r4uKXJEOSRBN8dvFbnfFYaeP4OJ7ip5IlcsiNvjj4m/i02w/wDAu4o5UuocsinN8dNeiYMNNs2PZPtkv/xFTyoXLIzZvjtqkV1cSyaLZMXKc/bDlf8AyHUqcNg9lMlHxuvr5VdtHsXUr8yyXTf/ABFXzwH7GYsnxZs7h1a+8G2T/Lls/ZpP/aFRzRK5WQ3PjnwvNGu74eWOR95lt7L/AOIp8yDlZn/8JF4TM+5/B8Gzc4Mfkwfdp+0Q+Vlj/hKvBIOG8A2zH/rxtaXOhWZ4zb30zLGmP4O715l5Hp8sTQtpJyyM7F6Tcg5Yl97lzne35mi8iOdDPtkcIk/eCOP/AK6Ue8HOio+oWasN1xE49yKXvEcwkOp2LLvaePjr84ovIOYfDq1gHC/arfPvIv8AjW12XaILrlhGAwvoB/21X/GjUPdRL/bdszbFu7d/+2o/xoI5ix/a9q0CNHewN6fOP8aQc4QalbOMpeQH3DrWnILmJ4761HyteW+33kWlyhzEo1SzXP8ApUOzf/z0H+NHKSqhbF7GqgKwLF+CDwadi9zY8LeFtS8a3EgsvJtLKL/W3d02UX/cT+OrtGJz7nVRfCASzrE2oyTlQfNk/vH/AGET7n/fdZya3RtBIs+LfAeh6B4Uub633PdJIpVg/wD10qFUcmE6Zyfw5gtdU+Kvl3sEckP2Vm2uny7zVznZaGUIanpXj9NGl8BeIIrVrOKRbR9hZTmuWdTQ7YwPzD+IkMmoBdqF4yXzn6V4qfNUuejT91H3H+yx4stPEXwg0axub1Le709dslu6nla92lVtE8edO8j5T/aSslv/AI2fF6O38oRReLLqdNvWRXfB/wDRkdeViPfZ6tKFonjEdh5bfMR5cn+s+lcconRF2ZpadabIxIg8yPvXK1Y74SWxq2uMnPWs/dOlOUixuAPOBWfunUqUmU7o5b5DwauKMZxSMy6tX3kvHh66YxPLqOzZf8P6haeEfFXhnUNRhmuLS0uv7Skt7biR3Q/u4/8AvuOP8666bdjkeqZ90/sNQan4n+D+t39laG5gufFd5O91Lc4lku3tLB7lGXZ8qI7Jsk3vv+f5E/j+ky+olJo8HGRejZ9HReANe8vBskz/ALc6V6bqHmco+L4f6+Q222h+X+9c0e0HykNz8PdfYMotrZWHZrml7QZV/wCFb+IFbLRWS/7P2n/7Cn7UZqWXw51psu5skx/02/8AtdZuoLlLTeCtTuJXjH2ZcfeZ5KXtA5SaP4caq6ti6sx/t5f/AOIpe0FylCXwXfQ3DQzXkGf9kPV+0DlRDL4Sl87yvtMCKvoho9oxWEsvAWn6nfouragkEDLzJAxVqftZLYVguvgLHJqkMOn+Knntpm+USorSr/wNHqY1Wo6m6Rfm/Zmaz3Kvi5kbo6vbREf+h1nTxF3cJIhj+CDQTNDN4mjMY/uRRf8AxddHtrozRQuPgjZOR/xV/luzf6tUt/8A4ul7ZlFKf4RaRHJiTxoNv8CYt/8A4uhTn2DmIX+EWho+0eMyT/Fzbf4Uc0w5iey+FWgW86tJ4tiuIwu7y5Ps+z+VVzyJ5mQa58PvDMksMq+KILQ/d2w/Y03fpTUmg5mZ0/w70GFlT/hNww24bebar3DnaKV34J8NCZQ/jm3lb/rpDSc+UpNsk07wHoOo6rb2sHjaFxJDu+R7bfipjUYczRduPh54eso3abxptAb+/bf/ABuhtsn2rRmv4V8KOwT/AIT1Plb/AJ7Wv/xuodbuh+0kOj8C+EJRhPiIik+k1tVRlB7lqUihceDvCokYD4ixYLff822/+LqXOJPNMjTwd4Uk3GD4iwSH+ENLav8A+z1Dmi+aQyXwRoMLkSeP7EbvVbb5f/H6XNEXPNELeAvD91CzRfEKy90C23/x+p54lqcihefDLRIo7hm+INgkkb8hYoR/7XqOWI/aTKS/Cuwu7fzofH9kR/d8hSP/AEfU8sblqrMkj+Ef2pWEHjrTZQv8L2an/wBr0ckA9tMqJ8IXDmR/FOnL821R9lP/AMfp+zgHtpkh+EE5IhHijTpG/wCvU/8AxdR7OA+eRUn+EmsW7gHU7CQ45Y2tx/8AG6pU6YueRVhg+CNrcSQPfXbSDqnmlN3/AJErzPas9D2RctNb+CcMZ/4lt1eMeVLRf/YUe0YezNKLxf8ACiMZi8IySIF+6bY8f+OUc5FkQt478ADM0Pw+wX52NEn/AMRT5gsgi+I3g6G6VYvh4ZNifNIBRzDsbKfE3RfJjEPgL5l+6GBpcw7F61+LVkIs3HgmLzEfna3/ANsrRSJdNiP8WEB2WvgmDGPm3Sp/8crdNGLhItwfEuOJleTwZacrnakkP+NZ8hoK/wASbeVJI5fB9rvVty5MNHs2BFN8TLVoDIPBNsJFbgEw/wCNFmXZAPitZogC+CYQ+egkSnZhyoy5fjGUkVJPCEAXI2ZkT5aTTIUEc1qc1v4z+0S22jQ6deGTMjIiEulZc7iWa3gTRLjUdQ+ywvLFpUI8y5jiYKsjmo5mLkPVPNSbCLGLYIcbOwrOTkaRict8QYnj8E3Dlg21k3V0UVdkVGef+BLIar8VY4/KIiFr8wAzWtZWRhCVzqfih4P06z8C+IbwReTdQw8MZMZTfXBUfunpUz46+D3hq18eeOH0++RZIvKEgD9a4aELyuOpNrY+ufhz8KdE8N6cPs1qVeQZyc17DhyxOLm94+cvH/wUn8d/GD4y3Wl3lqlxYeIpre30u4XYLgyW4b5JOz8CuGMU5O53uo1FHz7JpO8JLs3K6hh5veueSN0ysumS20m+AeUK5JRuaqTRcsZpDcR+bp6XPz8eXJ5dc7wjO6OMUTdW50pIPMh8Ozzz/wDT5dSeX/5D8us/qrR0LMYpGVI11eTiO2tobNBxstv/ALZW8YnFLEtktl4bXzI1RXkeQc+1dUYnHKd9T0fTfgJpniTT7yfV57qC9neCCzntZIx9l/efvAI/+Wkf7yvSVBJHAqrsfQX7FLX/AIR+EHiHRI9SkZNO8b6vbLKq7FdkgsBv/TP416mBgnJnmYyVuXzR71F4p1uRWdtVu2X/AH0r0/Zo8/mHf8JJrBUBdVvFX/Yaj2aHzFO48Q6oIw0+tXxH8K+dR7I0Kz+ItQiiOdUvpGH9+ZqfsRXLOn63qNx5gXULyQfeZPOd6TpJE8xo22qXb/fuphu/6bvU+zDmY8NcPJs3yj/ZEr0ezFzFS5VmlwCfu9zVKmLmGLCW3mSIsNtVoQVJY44+CQPxFPTsIueGLmHT/GOi3uVgVbgq5B+X5qyqQtE6Im/+0lprX/jHRbiy1iez32cwcW906EbdjpXNhY66ind7HkE899bGQXNzdg/wzJcN81dzgnsJRImV4rhbqOeUXCnDFmAR/wBKnkLUS5Zata3pkS9IjuOpZsbGFbqUURy3HyWjRRkNsQr8wFbxnBhyGObUyuI3jjK4Hzvg/wBKwsa+6MgWGKZ8qqkt9wEUWC8TSht4pdpdUbI2FNwpuDsTLlR5b4k0q20/V7iJothyNsmRXnV3KJtSjFjNH1BNJvoJY9yuCUYZH3cVNGrzaG86cVqj1+KWzvEEwH2mOYLguf4s16MXdWOOaSZz+t+B7LVFM1nbrDc4wy7RXPUpSexSnDsc/L4E1APlYYR7FR1rjeDqPZnVGcLbEN54H1RJEIt4yv8AfQPS9jPuSpw7GbL4J1MuI/san+NELCp9jPuaKcOxSfwNesf+PBB/wEDfWfs6ncd6fYguPBt8rc6bCT/HlVqPZVDS9NdBbbwfPZrMZNEju55U+TfEPkqnGp3MuaHYgXwi8EzXA0+ND/d8oVLjUZanDsRNoyRRtK2nxRtEP+eIo/eBemV0043/AM8lmuf9xaP3iH+77GNNYStG5srFUlim+fCL/hWNqncfs4luC6lSMfadO2yd/u0WqB7OJ3c/h+xvrdJHiWKd0+SSOsLmzZztzZ3mgzyJcDzoi37mbP36ZDuaNsjXcYaRdkmfrVITLAt4YhxvcL9+tFsZPckWPzZEmiV4ZT9yQ/x0JAtzc8P6omqGSCVDFex/6yNv4qrRGyNkSBWVmB200yiWKAQoSvLfxf7daXESsCXXbn7/AMmadgI/PRSwbq33adkJkdxKyw87R/eq7GJFIzNG2HU7f4ajYpXZz+q6oYYswRGaVm+RKwqzuXE2vDmhTXE1naRKPt90c4Kf6iL+/XKp2Kauet6JpsPhqzsNNSRPk2hyp+Yj/P8A4/WfNc0NJn2KzJHsbd/3ytTcDmfiglxJ4Pu1VV2+auxl/wCB1vh37xnP4WeK60ury+IUTQIZX1MRfKkQG6uqrtqc1D4jxvx1pXxv1W4ntrjT7t9Kf7x2KGdP9ZXj1G3sevF23OS8OeAvHul63Fc2mlXNpMo2b0YICK1pKXUzqTR9HfDXQfiNalHuL0wRc7klIzntXfOmrHHGWp5H8cPiB4o8JfHbx8dF1N9Jd7y1aZrNpMzSx2VsPNH+38+fxry5z5bnYlex55o2uSeKNSuY9UufP1S8mkeKeT/lu7/+1KftLo3ehbu/CriTYyrG8f34hHxRycxk6ttCOy8LyJL91xU+zNfdYz/hHJANiKFH1o9mHumzpHgjUb2fy0jZj6bOaXLYn2lzB8Z+KrXwXG+j6FcrNrH+rub+2fEdr/sJ/wBNP/RdPnsZ8t9TC8GfFTXtL1TbfeKdctbB02CPTr6S3/8ARdZvESb1KUdD6z/Yz8R6RY/BDVpZrhdKhfxXqMsdtcy75QjWthy5785P/ATX0uCqJ3uePi6XNa7PYH+JnhaG33/2mhjb5SwGA1eopK+hyezSHRfEXQ3gdoZpnyeNkTVMpy6EN2Mu7+IGiSyRxm5YMRwZECl2oc2i4q4p8WaNNOY2uSVU1KxDRUqNzW0jxRpMTB7fUEjDcZkjq3NPYl07HW2pSNV2uGTGVK1HNLoYONhtzpVrdzvJJNIWZf4RVKbK0K50qKxiZfMkdA33qu7YtCA6eofzPOky33VxTuxaD5WWNDGvA2/eFGoaGdKwWJxgS54ILcGjUq5Smne4liaXzJGVdpWR3Z1/77q1dbIdxZEa9hEe4iOT5dmaakyHIy9R0qbTI2nhmDwN8ucfdrOTbeptGVjGu4hcQqm8R4GNxkrOUSrEE2rXdvJbwXdwscR5Vkoi1EpXW4+PVrXUZNlvMXkjPzB62jVuRYHkwiuh3cf8tKclcSNGO8KgyyDyti5U04dibanP+PLM3EMWoRxbSkWxnKferirQ52dUXynBtcpu3tJtU9TXnT93Y6uW6On8HeNm0+4j0uVPMt5Gypfu9ehQrJI5Zw1PQRdyWrIphEhK4ZFautTbMnGxINRMsbFV8tj8qKHqk2Q0SpcK6NvjKbV+VNlNoEitKUd8IdvPzPmpasWkV5pDENqZG/hgDSuirMV5gYX+Vt/1o0DUhkklDdW37fl+eodiiu92U8wrn5P+eZqNCihfSCdZRLGZNifMSaiTRC3OG8Ta/d+H7Ka+tYknt0f5kz/rK45WZ0xkQT621zp8WsacirHNGXKuanQRa/tiwvv3kht5T6NLytAWNZCItjKBsNeebpi3dpFqNn5UvzK7/L89NFpGFBaiCNVlZ96/I6UIhmjbSwWy7YVw7VotjJ7jrnU7SyVQ0WyV3/Oh7AtzOvtWtGmN1aybbxU/dgj79ZtmqOqsfFemNZxyzTBJSuZEq02Xckh8RWH2rIvmx/EZBVoZMfEFswbFwn3sLVczIuho1iF7jZ565f260+Zhcfc6jCA7K3O+tZT0M9zIn1GFXYiUdjndXJKoUkGn6e+TfzhpWVtsMSHDsw+4lZblM9W8D+HZtIRr6e6ZL29HSM8Bf8/crJouCOjFlMh8/wC0yS7k+Vm3/LWdzWzNGOV0VfmG7G2i4rM534iO8Pg2ZHl3bZU+Xd96t8PuZT+FnmvggM/xatXhX7Ptt3ZiH/2K6a/wnNh/iZ67qF1e5mAujLuP3A5/2K4otNnoXOXMTiXkuGLMzJuP3q9GCjY5akmS2qSrsYgtg/Mpra10cvM0z4h/aZyPjz4x3n5pLqzOd/8A1D7M/wBa8DEw39T2aCukeX22mXGr3lvp9navez3EnlJaxx/vJK54Kxs9TudN8T6zolnEup3H9vExxpHHeSYkjj/55+ZXQpWMHSua9p8X9EsCJbvw7fNL5TokdnfR/fkj8uN/Mkj/APIdT7XzMvYyKlx8dNGtIm+yeEbya52fK9xqUccaD/tnH+8o9qP2MjlvEnxV8SeKbeSyaS20fTpI/Le00xJE3/78n+sk/wDRdZ+0ubqlY4mXSZbS3ke3j8y2jj+c/wDPKhRvqapW0KKR4f5M4HJNVzRm7IuSSR9W/Af4dakvw9eDULL7FcQapOjpJLHJ5n7uOTf+7/66V61CjK2jPGru7PavAmiweCfEVpqtxp0OtRwh0+y7UBD/AN/5469GFGa3ZwuVj0wfEi18ySY+HoElPSNVTK/+RK7opRVmYsxvGfjD/hMvDsWito8Wn2ayeY0i5Jb8ErKVNrUqEjhn0CBd7xzsj9UrL2TZvz2KV54GtrwJuuzGoYsdg+d6qnSnB3ZnJ3PQ9N8dnS1trKOKOQcrvkf5664zjHcwlvYvN47hjDFol+f+5TdkT7Jlaf4mWyFN1kwT+L5qn2lheyY5PiNbO/y2R2qfl+aj2g/Yshfx7GUOdOl3SN8tP2g/YsgbxlpyoybZkdP4fnqnVSNVFGNF4y0mO4lMgcnHy1nKuhqCLf8AwsDSfMXCzFTxv30KsmTKmiHWvEou9OiudOiM0Xn7JDLLTdZCUCE6zI7lfkL/AN3NYqpc0MnVLmVpBsKoN/rWUpWGZUGoy2GqWreVujkk2Ns7VnTkU42Onku4bc4Eypj7idq7FPQzlYibU7VF2yyMBt+XNJ1LAki5ZyrrZ+xJGJN4GFf+/W8bSVyJM8n1CQxX115ibpUkdWhz8614tTU7Kc+hTlucJHNjbLG281nH3WaTs0eseHvEEN3YQXM1yq3Rjz87e9eqq6Oc07TU7KSby2uUL/e+/XSqysRYml1K2EpQXCtH/E+KnnbISHS30ezKSxBx93is+e5aIGuCj8SJH77qLosglkEkUbLs2+7UcyFY4LVfF2r2F7Pb3bCGReVz/crzHiDZU2VD401GVMxMD6Vm8Qy/ZiHx1diQESxAt95JKHVF7Mx9S8Y6oZGUxLMvtJzWLqGigilpOoXV7utjLE0mzCpHzW9+pNkZNvqP2OWdHifzN3zbH4p3DlR6iu17ddoCM/38VkakkSybT8rh9/yfvKTAydRyusTDOyGb1/v1kgJbRHuIt6Md/wDBVp2IM3UdJS6uXmnuW8zZ9yosIzP7Ams5N9u4m2N86U7Gg/8AsqUuzfZJM/7lKyAE024RGZICif7lO3mBQMssNx5EnmGTt5aVPMIvWkEs8fnROEHo4o5hkzS3cS7fPLCkwNDwr4Xm1G9N3duEsoRgbxWcmCR694K0Rtcnj1Zhs0+zmKwxk8yDZUORcYnpEaBY5i8QJb5QYl+XbWTkbqNi+ZogYwgHlhf/AB6kNu5nahdWtvGk728sgMm2Tb3oJZ538VvFumadpE2mtKxvJCkjKB91PWuuk0mc8m7Hnfh3x1p+leJ49cSf91FEbeRPRd9dU3Fqxzc0rntGpGe7jElnPDGkoEgLsnWvNR3rYr3PlW2+WV/3WzO4Lu5r0KUjmqIntUjZI5Y/uherLXVJ6HOfC37Tcbf8NAeNQysuxtM2706H+zbX/wCtXhVtW/X9EevQ2RD8PvChXSX1CRRLPdcp/wBM0pU6dyKlWxq3fge51ElFQSe2a1lSTMY1x7/Ai/ukkbYIovVway9mjT6xLsUT+zxqUwZIYfN2x4fy1NHs4j+sSOYvPh3c6Vc7ZYmgIIyNvNNU7Gvt7lWXQFiXYyYz/wAsxSsCnc4LWNM+x3fl/P5f8GaxlKzN4rQ+wf2ONMHiP4S61Pf31ybmDXZrVGkld/3SWVoI0/IAfhXvYG7b/rojyMW0rHt0Xh632pE17dOyt8qpXt2Z5vMLJokETYaa4I/u76VmLmIzpNsu1H3fMv32obY0NkS1UOhtTIxbO6lqaLYtQW9nIGVrWOTr/HVWZm5GkPDmj3O1pLIYVcZNHKzFyRY/4RLQ5lDfYgE/u44pu4vaGVceC9FuIyscM4TP3g9KzK50yGX4faZbSYSSZAF+XnpS9kmUpor3Hg6HcrRXkiSL91WqvYor2hmah4JllkMq3qOfvs5SolRiyuc2PDP7PniHxJ4Mv/EVle2wSPPlxTJ80hXeB/OuGcYRlY1UzzyLSdTktI54cRmaISp5i+vNPlkPmJrjS9Uu7RIWvI4YlY7h5maOSQcxPPq5i1Q2iqCQnmM7mpmrMiWolwjzSpLvGxvvb6Jv3RxiY0mrGzv7fyfm2tvrnu5SuVymhNcxyT79owz7s101Zc0Ug5Cv/aAMjgWzAmobuNouW2r3MM1vcRO0bQNvb/bSt4SSRg49TF8aQw6nr8+oWz7WuCk0if33rCpLQ3pKzuc7Gscg2NtdulcsXY3mT6HZXE+umBy08ATKoXzVQi2ZuR0kXhzVLW5KpFwP+ej11fV2xc5ak8OaxMruY0z6b6PZSQ+Yibw9qqyZkjl5+7skqHGQuYozaZqgE022d3P0qHGSKuRs+pwxbjFMf+mmRS5ZBcrTXz3MuJIHkk/jd1qbyRXMVvtdtDJtaIo/1rNuQcxUme3eV1WQJU8jL5kVf7Kiu3/1jfN+88vZRyMOZGbc+GpJZtwaQp6RoKrlYyq+l6dDIyzWcgf2Smk0Q43PT7bcz+W3yUGzL0DyJ/Fs2fIaQib7Gl4QksayP/C1Q1YDn9Uul/tD7BAoMsQ+Z6ggjv7tVDzFuFX5K25UBoeGbeT7Itw372ZvSk0izqX3QSGMoF3H5/kqrIooXNgHUIXKnd85SnYRly6L56+Y0aOf7+z+Cs+QQ+TQrdo1TyO2E8ulyAFppy3V35KQ8xP82KxbA6LSdNvvEWpjSbGCMWduVaefHy5R/nTFZPYo9K1LxLp3htYLGdobeNNsQj/i3f7VTym17CW3xI0hFUyXce/rIjbKhwYc5p6frFnqlr5mmzrPGsmHx9ygadxNTbUmilNkYIzMf3Z/u0i0rnzT8evhv4y8VeILa+t5lihSLBwRsrG0jRuNjhtL+DPiswC2n1FlVnUyfK/PFdUFLuczcex9UeHvDV9pFla28lylyIoFC7m6t61m2WbP2Sb92JQEV3/eLtrohI5pkX2ZwjbnyVPyEr/DXa5XRy9T4V/apSSb9oXxjCqDe8ekhPx0uzX/ANmrzKq39T1aL0R6/BZaN4B8JJqGu3MWm6Np8SCaeT77OPuQon8b/wCxHWl1BHDZzdj5x8b/ALS+s63cNbeEoz4a0kfuzcuiPeS/7bv/AMse3yR47/O9cc8Q1od1PDo8s1O/utZuPPv7u51aUdJbyWS4/wDRlZWkzblithsEEdtL5kGyGcf6t7dvLkotJag4p7nd6V8bfFWmW9rb390PEGnQv/qdWJec/u44/knz5/8Ayz/1Yd40/wCedaRqX0MpU0eo+HdT0Hx3pcl7pbtBNAP9NsJ0y8H/AMcj/wCmldcfeOSTcWecfEDSxYXILtyX5rCvT5XdHdCd0fTP7FiGL4Ta5IWlO/xHMvkF/kTZZ2vzD/f3/wDjiV7mXPWX9dEeTi1e39dWe9zyOLkkNg7e9ezzI8+xED5pZjKDIWwxxRzBYbdOl1bZKqjIudw5qSkZR/dmRBxu+6KbLWxd08hTx80m75hTUiJR0Ops4o441y373H8dap3OWSGJO7SBVfJZtrMtK5CiMvp44PlSRSe/NWtTTl0E853iXDZ8us7MnlInVFKuoy7dfeizL5SCdm8qR8IwDfdSkk2XynufwNBvfhhqloxKiOWVQv8AwJ68mvdTRoo6Hz7p1spsLKMIhAjRA2z/AGhXrRcbEczLL2NrNNtMKFh8i7aq6Hzs57xlptvZ6xomoLEI1cPDNtPLNsrkrQ1Gp3ZlXMSTxMjZQ5rNwujVysVbXwnY6vo2o6qqsbvTz5oH99KIUrRHF3Ryq6zJLKzrs+bvXG37zibRkKfEdwsYKLEN3pUx1KG/8JdclNkpiKHtmlJ8o+UxtS1i9vZI2lrPmuVZIrRqJJDIVG/+/UN2DRl7SLkQ3yOW8ly2Mb66aEu5EonqyazaiK3f7REGePY3zfx16kZ6GD0LlvrEM0catOu77jJvqlVixXHG6TzIz5vHtWicGhjXkEbNGhjKBuh+eobiPmK0t47tIM7geF3rWLlEXMVjBEXEmy3OzodtTaIXImtLeaHDQxY3f3ahxiFxZbG3EjhLWBSq/N8vz1XskVcfbeHb/Vfm07Qrm/jC4/0a2km2qf4uTQ6UVuF2Rt4fvblCbXRLi4d5XO2O34XNS6aJ52ZmpeFbu4kVl0C4IxxmE1jyIvmZliFYbchN4eua52FgzbLYyMu52H/fFK4Ca3q50u2UxBTdyHYkZ71glcDkrmQ2AChvOuJOGf1qwLGhaXJruoiHe726t8wq27EHoyxi1h2wqFUfLS3KKxcuEhc/vemKtDvclRomfynb94ez1YiK+uGjUoMg+hobMzOgvVn1E2jLIYk/jSuSbLSuXLa0uWuE0rTVaW8lJzIFH7pa5G+pql0PY/DejQ+GNJ0+wtCVG39/Ii8ZH/xFQbJWOU1D4XWmo3d3e3Wq3XntJhUY42rU3aLsW4/gppU06RDW7hozHj7n3mouwsjqtF8O2fhHTI7S2g8whtrs33mq27iLuyaNPMigRl7Rj/arNsdilqXn3Mbeekfl7OxNOG5L2OahtYYrqOVQsWT83P3a7DmludTaRrHFuJVpGY7dv92uZmqJZYB58jqd0ZH/AI9W0GSVntUVI0IzJj5mrdM5ZfEfD/7QejLrH7Z91poZYoLqbw8S8r/IEOnW3mP/AN8JXJUdkd6+E8K+OfxYl+L/AIveeFnj8O6cHh0q1PXy+rzP/tvx/wCQ0/grmm7msI20POE4zXMlY32LsHOytbCuWI5uaLBcjuJe/wCtMkl8N+KL7wbr0Gp6a2y5h+9H/BMn/LSN/wDYpiaTR6r8VtTtNX07S7+y3i0vZN8Hm8fu/wDWV1OV4nPRja59C/sUTxP8MNchUhpI/EM0rJ/dR7W02P8A+OPXqZd8T/rocWL0se4Xl6IZWeY+ScbfmYCvcPPuWbR1LGVUBH8JB4qbhcqXe9o3klGW42rSsaJmcDJMyMsYd/8AYoYzQ0y2nhhLlUT5sVSepgzobJhKAzkNuP3U+9VmZoAJASQBGn8VSQioxEkzq0fzM3LCmi0Q+ccnbHtcfe/2qYkiMTFVHlrtLNy9MZA6uJCIhul7butOMugz1X4C+N9B0Gw1+11rVLawkkmDxrPKi7l215mIpyk00bR2PI3u7f8AtLUU0+TdYm7naA92i819ldsdFqZtMnSbc5XfuDfezWqsKxk+LInuvBt3KrMklncedHu/u1nJaEdTmVcyWoPmFw6/If8AYrgg7SZ2y+Am8L6l9k1Oe1l3LbXiNEyn7getsPO0bGTVjzu7sl02/vLZd37l2jX5PauOs7SudNFFKVyjZ2/OOK5bmvKKpLE8HBouFhZDl9u8j2zVWiNRK6vtbbz9c0/dNFEHjeQctUEAd5+9mT/gVK7FYsW9w6SbjOYB64rVSE1c20vJZE8zzJP9sbhWlzJo1/DepExmGXc0UjffcV105GVrHVXYV4wYz87HYwq56lspKylvJJbZ/EHqLCJZomjBIJ3M1UmMQD/SZAx43ffqRrU7D4W+O5/AHi63klnDaLdK0Nxi3RnjUfx/u/nrTSSMpbnPa9rUNv4g1STw9dzxaT5hki82FPuMP+mlvVKWmpHLroc3qOp39y+DdSZR2Hywwev/AFzrJuJqkzHgk3mESFM7P3deTdncOm1NIY9kgUN9w+XSuwMK7027a5E97cojf8sk/uVAGZaxLqN4baK484v8jvHTA77QdPTRtMSK3OCPvMf461epJcniO14t7F0y3+/VgRK3myyjc25fu1NxD3Hkrlk5kXpirTGVmmkt7bDbpZGfYqiokw3H226zjjm8oy3cozBEFxXHJmiR6v4K03+wNJTzkd7+4G6eVh8w3f5/4BXI9TosdFHHL5Eb7Y8/3V9aZZYjtZvOMZO6HG7cP/QaAIYhM0MczIpYn5o1+5toAuSXlvukWTiNR8n97dTuKwlndOyLlGYtt+aoGUrufzLlIWIPmsxVm/u1VMh7GOtmttJMSMyRn7v96u1nNLc3rRvLSH90u3Bbd+Nc0jVE014PIkeOFtyt92iLJM6Y5cHduiK9faupPQ5pfEfAv7Y95Lo37QnjG5j3RXLaHpkH1M+kw2//AKLkkrjrN2O+OyPlaWIQ9MYrijK51xRZtlBBDU5aCZYjAAznvXQkjG7JDIoHB5osguwklPXnNZmhSkPegDqpbuaTwPo1o4wbW+uPL+nlxyf+1DV3HTifZf7Esr/8Kg1nexx/wkUxIz3+xWle7lnxS/roeRjeh9GaNrJ0SKcx6ba3EsrfeuRjbXsNXZ5qdilLcyXdxNOPLjldvuL91aBXKN1IOVZSAe1WkXe5VS4ZYlZF2lm67Klo0TuX7WceWB8v3Pm5pR3MnsbCSIBD90uw+6laIzJpJDKGB5l3fepGaIblnt4lyokDL9800UVUld0Cjavy81RRBGw3qQMN1LVRQssMcUMax3nn4bc6qn3aTVhGZLdwPPMhjEiI3ytsrF6lIaQYZo5HlDRhfup6UkVYmJaBhtXG4c/N3q0FifUYobzR76zeTyxJAwTf6JVVNFcxW55roFyDpdoHmEhUBd3+5XlJ++zsfwk/kPHcwvDKcxypyB3xVQ0lYiTM74nWX2HxdO8SKfORZMJ/tpTxMPcujWEjnLTTbvV8SWlrLLEz7FuGUIrf8DeufksXzjz4eu0iACx+ae++jlDnCfw3rklllLaF1D+YjI/36bwzBTMi40DVdOZHnsbnyXfh0XzKxeHaLU9SgdQKLtLGPDcxstYuLRrdDxdSxvslHNSBct7tXyo4pqQGvY3AlCxL/wDXq1Ihq5fsZmt5yHbrW1ObuZyVjudEvY9Utk8wrlV+Va9KOpkySSALJIoQrlPmapegyOSGVboqQ8iMd6ulSAyaNZswlnULxRLRDiRpMYpWhlfajq+2TZ/HWamEkQuyvKPMlxs+ds022PYrOjlUKOAMfxPWbVyXI5e9leKHJTez/IqJXFc7zHRmgVhMp39PnqGxlDUr/UNYulsrZ5BA75d6SiI7Tw54Xt9Hs0IgAcJjj+OqtcDolhiZFkXYUVcMm/rTSsDZWlu4TG7yzM6J8rk1pcybuXILGQmErC43rjeH++lU7IFcp3MMkUDu2QMZX5qxlMq4WlsIFN9eu2E5QH77CuZsaR6N8PfDskcMmt6jEvnzK4hjcfIqfwCsJM2SO52xgxtJI88snXJ+crXOdBNap5kW5OVX5f8AepDGyQTRyiJv3eV3bHH8NbAVnZYFLNcrCoXncfnoAw734g+DdCJW+1OF7kM3zw/NtapuBkXHx98ESSsqasqkt9/b8jfjRcAn+K3hDV3jaPV40V1+VHXZlqqLM5RNO2vYLuVDb6gHaT5lGfm210pnNKJuWk0yvPC0qSNEN27dUSNY7Dl1JFhjm27y7cbKSIluPE1s0sivDsWJA7tt/hWulaHM1c/OH9rTWh4p+OXiO8i3RxmwsYoA/wDGix7P61z1drHpUGkjxH7B5pB2V5xuVTpT7/3J7f6qgCP545BGYwJTWi2IH1qtgHW9tPfyfuFeQn86zAuWumCHnP2mf/np/wA86AJ9aj+w21lEU/56P/6L/wDjdDldFrY+z/2I55rj4O6m008v2eLX5oo7cyOEUJZ2w4T+Hfvr6DLVqzyMYtUe+lzsYxnj++7V7LZ5ZX3vJGXAyPeoe5aRSaWVmOU4b+IVRpsRGYoVcLuVeVO+mI1dOupSoDW4R8HcweqijKZrGTErJH94D7yvTZkiaKeJkKllUkdAtIRZ1TQZ7O3S6dozC69FOGoTAyJgqHCqSoarGRTJ5TyZDfKfmqiivEfLJwrBDhNgrNmiKhLrNLGRlXb5UpPY0TIGi8mU27Lt4xvSoQPYnSeNJGiRQ67fmZ3376ZmxrtJvtyx2Rkj5fRKt6xKizz21kNs+oQ7Vi2XLjZvryJaSNkxtyMwMVkCSBiy/PU09JaiequT+P7XUL2w0W+vCGkvbaT96j42FPuIK6quqFS0Zq23xT0LVfCGmeHte0e5sZNMT7PDc6XIVB+f77Onzj/gdbRxFFsw5JdStBpvgG8mDw69Mrsnlstw+/8A+N10KOHnqxq60OmsrLwpBZxQwa0quq43tLJXTCWHW5gosztRv7KN3Fvq8LqqZ3P8/wA9E6uFHaRg+LvEngyfwxqVnfyxalrQX/QXsVKKr15mJqxlsdMInliFWj+WQSV47hFu56FNW3FtpEjkjU1LLZ0en3pih8nyl3xvv8+qZmyw5kuOfl/2KpPUlI6Pw9ciIMZJtsuz5X31202c00bQxcwvIpIBX5sv9+nezAfBOJoUkOOR/fq+YLk9w8bK0gYOWffsNXe4W6lG5tmWNZGTzpvvn3rBq5a1IoXjdZYnjbzInfc4f7/7ugZXKBUj2yBhtH3elArHF6XdW9vGk9y+9/45HevNbO4p634ntLlmWEm6/wBvzKzbsSUbLxfcWHlrbQR+WnYJRzjua8fj/UplQM3KVopILkS+MdRkcMXCFjsbIqXJISiKnirVIJYZIhE6b/n8ysnVsaqnclufF+o3Uzu9zIqH7nl0vb3KdMueFdPvvEV8tzPdtFYwtuZn+5TcrrQzcD1fwroKeI9UTU3y2m25KQq3WSU1k2Ulc9KknMjLGyhAp2qo6r/s1iaItQqrBXR/m6lU/hqDQc8CCLYSyJn5WNIYy5S6a9i3TEXKr8jt/wAtFrYDnNb8MT+IbtprbUGsptrQT2twzmBkoA8wvf2eLtLm5miudPMjt828/cb+5SsBQm/Zy1ViAhsnk83aXWQ8f7/7yjQDQtf2eLkXCPq2oWoVDv2pF/j5lVEmTO10TwbYaHfC9ElxeXqLsWeZhhUroWpzN6nX2LKYiH2c/e3VEi0WVKRhYkwu1vvIlJGctzB8da0dA8MttCtLfuLKPanCit2ZI+Ovi94BgPxV1OTVbJYtIv8AQ7WxttRuI/3KzeW4eRP9uNx/OuWWrOmMuVHzlPpcthNPBMnlzwP5ch61hys7E7jWso5CnmJkelLlYx9rb+a8cb/vI/8ApqnmVKAuGwijk4SLH/TJK2jsBJLZecmJH8uPH+q7VmQMaKGIM+AqKCST2FNK4noekx/A+71fS1hu/BvjKXVpSgknfRL1Et0En+rjxb16EKCsc0ajSPof9mDwvfeCvAvibS73Sr7SUPiOea0h1C2eB3tvstuofY/sor1sFFwk3/WxwYmadj1UzxPCwVfuj+OvQdzkSuQXF5CkfyzMD/CqLUmhUnmuJR93y4/9uhMZWiDXEmXGQei7qdxG9p6yRoGYKzyZrWJhM07dHaN9riMfxY/ipsxRJHKsbuv3nB/jWgCrL5f2eMtsErHdnFMQ+WaKZQWwin1/iFMorTqQGB3b5G/iqihj27OMeWqqfmUFqzew0yhqCfvQ3mdP4KnoWire3bfbkcKjbvlbfWS0LZKsrOXhEqhed3mVRDJw6iOUtHGIl5VK3irxFFs4jVUt7XxPqw3mWSTY6r/cryaq942W5UuwwGHQp/0zrGXuyRvFXi7mjCG1jwbeWryxrHaNiFf4kr0Ek1c54uzPNXkYsyldjo+yvKl7FPQ7+eNio83lAdzj79ZNx6Mz90gcQhtv2eLr/wA8hVuUe5SjFEVzZwDH7lfL38eUKzcFJ7mloC/Zo2fAGKXLOWlyfZpaksUS9Uaq9nJFrQnjh8uUbVpMGPhkWMOf79aGbNe3uHaL5RsJ9qGhos2bq2cD95/BXRBnPUR3unmOeyjdF2Dy/mrscDNDTam2KMNwP8VRyhYljuRDJ5Lrs/uP/BSdzRoWW2aCN3kZTud/nQfdoMmZd7LtunmADEK+90/v1BqNAZIY0WURhRjbMfmoEeCXiXV2fO837RHD9/8AeV4p6Q3R2W4VcRP/AL9AHRW3lZ8vysSVRiTww/OGROc/x0AK1sYwRUPc6Bh+Xl0+T6Vk9yiezgOq38dqiglwd3l0k7Gd7npNvp63f2Xw9pSEvIp+1Sk/IiVftLDtc9l03RBZWlvbRmOCC3iUFEH3pP465vaXNeUufZJI1lUsRC3zM38VHtA5SwgaO5R9jfu/kX5KrmGSSSm3gkjdyom4kLd6V2MjfWhLLEAWPk7Cqbf79CQmwmiR7mfzZS8sl6kjOv8Ad/grSxDZEsizBdzMY5JN+7/dqmHUi02RbVbq2muFFw77ix+7J/u1i0DNOV0DQSCGR44xtZMU4opsxWlyJ42LFXOElz92upaHKxhmKNCykbguTs+61AxkYnuZZUwYg7IimrsBxviC8TWPFUsTtI8GmDy40c8u5qm9DHluzxL4uam3i/4jaX4WsX3QWYR5UT+N6cI8w3oWvi5+ztJ430uDWvD6xReKrSBLeayd9iagif3JP4Jk/wC+HrtrYZpCpVz5mu9Au9Mmlgu7O7sLuFnheC9t3gkR0/5Z/PXkzouLO72yYWGkmW4thzxJH/rTWVkaXQp0SYMNqA+2adkO6Hp4dkGxp3CqvJYnGKfs3N2MlWUT3/4D/s/zXOoWPiXxNYNb6dbSpPp+mXC/PfMn3Jpk/gi6v/t/7n3/AGKGH0scNavc+kry5NzMXLM9y2Tk8nNerZHFchlLCTYh2yt0ZO1UlYRHJBCkysH82QdEemA2YBHj6Rpt+8lShlGZSm3FxvKnqtJDZTikWaXz2wZV5XfVCOi09h5TGU/Pj5CnetOpztGhBEZNrtLiRV2/eqjJodBEg6SyHpt30xD3SVIQTGCyLuDUFlNpVVldo1eUr8y7fu1YxrF5Ymmcqd7bQqUARo6lQyKVVTk1m9hJFaRUVPJjVmkZRtxUFpWMYRqt7GxTbErfNvFKT0NS4J4izxouPU7KmJQ4zRxEu7bjIm2tN3ZE9DlPGluI9fsJQg23EGN6Vx4qN4jou0jHuI8Q/IQHxkVzJe6dSmaGiSrBqe1p/Lt7hdsq1pQ0Zzy3OP8AFscVtrM0CSBZoh86ZrlxVO75jdPm0MR8sY38rpWLjzxsjRKxSiMUjNFGxkm9ExIafsHH7X4B7WD0LH9iahGry/Yr7n0tpKHBvaX4DvErxabdJBvntrhB/H5ts9VyVF0F7WLJrWWKMlFljZxxh2qGqiHzRZMkjCXzt7/6yod3qMesbxn/AG6p1OZWC5PbOynaH/CpGXDNJFJiL561Qmdz4a1QS6WcPvmT76u/8Fd8ZHIkbis8sc6SsEO3e/8At1q2MzZZGuJ3Kknvn/brAoehe3glMgzsX7lAEFy5S3hUBVAT5jG9Q5iZRhbJfdGo5/ikpc5R4npVzaanA0bIYb13j/e/368o9AkW2k0a/ELwHZIf3mX/AOWlAGnHeRxlA8Eod+0aUzEt2ksV0sZXzMf7goGTTGUCNFikHts+/UNanQZ5SVpI4YrWZ5XbaoReAKya1C+h6d4e8NN4HsfO1O2ljvZzwssYO/FbSgYJ21PTvBHhuPw9oz30/mDV9Q+eYsfmC1xSOmKOpVhDJHbgfvIzuKO/3VrLkNbko1OS3tWlViLZflVunzUcgXEmv5nMUaySLcOuBFs2HbWiRJV3PNdTp87SRH95j79aqADre7iigiO37w8vci/fSmkZMj+1sZmJaUuq/Nh/vVoiGywrSBI/LXcr/wB7+GkUBs5LqR47hBhDuWY0uUCKRJVsIpBK9tcodvkbvlZapKxDZKZp3u0jWVJEZNzs6/darJITehfPJjhljDbV+X71WkRYZea9ParBDb6eJ9QuY2MEMZ64P3q0SuI8w8QtqPw68OXuta9ot3p6oW3TTsCjStSnHUiEjyv4A+HR4i1LUvFOpI7XE8gaHf2rvoU7oyqT1PoOHbI8brAUQr8zu9etdTVmcrTTuZ3inwvonjbTY7HX9Mt9ThhbzIvP8xZbf/cdPn/9krlnh+bY2hUZ51/wzf4ftNft9T07VtTswk/2iG0uraC9tFf3j8uPKf8AXTfXH9QfU19uypp37MWjQyFL3xRql1FGf9XbWcFr/wB97/Mo+oi9uzudA+E3hPwjOL/TtHEt/E3yX9/P9qmj/wBwv8if78ce+uuOGSMnUOsEvmo4Mi+aeu85zXRFKGhi05CqPNwDl9v8VMtFe5b93+5ba6N9x6aAhDRyTbJGZztpjIr1hzFHIML/ABVKAqLF5ZKxSsA3p/HSGTLEr7HJZXX7y7aSY7GpZW+YizJHuX5FKPWxi0W7ZpwEMRUSgfOw/hrQxaLCwmEecrvKVHzFqRmQtdRzMR5zfMv+rQ0yiNZEUM+/dIny/Ofu1RREVlA2tN5qHj79AETxlVmCnL7fuo9ZMpEEyqCrCZjxtT3oLMS8glaUMjbyoxnpurGTNGSxXUPlAPJt3fLsRamIyyjrBJEshzChV2Rv4+K3jqyHsRfEWafSo7e7tbe2uodn7vcf9XSrRTiZ03Znmn/CaX0EYVLS0ICcfLXkwd0d8Y3IIPGM1texz/YrVp423LvP8dZRnaQSgZfiXXp/EerS3V8IxNI/mOYUyRVzqc0LmkIlnwHN4ek8b6LD4vZ4/DYlL3axttDL/c3/AMFRhU6l7bkVJWdj0fxR4r8R22rXGj+FNN0FNFBR0/s62Tckf8COH7Zr3bxt70jzIxnfQm0fR9alt3l1fXBYsreb5T2iR/L/AB/8s66Kai9mKamupoaidKsnW4stZ0/U327HDwx/KP4//RdXJwtZoxjzHJXnjm5vNWuLO40e01BVXaEtos/JXFP2a2OuKk9x4+G8ev6BreqSRSeE10+3mujLdDamE+5Ev9+s/q8YwuVCq2eWWszyxhmkcEjp6V85FWqtHbB8yLwEi/KlaGpegkZkO5zu9a0YFmyv5LS+WRWyd5q6crmTid9ZalDdFTD0f/WeXXbfQ529RLxTBcFVRlj6YrA0YkcwurlXVvlJ37P71Aiq6/aAG2yLv+fNS0BUncRvvmmceZ868mp5Sj54NkJYCDyD/wAtDXGdJYj0zUdVkNul24H+s8zfQB7H4EgiudAgjkCtLbvscP8A8s63jARuw6crYaFI4C33n2VMoAP8wQoPljMZ+f7lN9ikZHgzx9p174+t4msJHkgkMoVl5+QVm2RJantfj7VNS1bVvDWv2YF3o8MjGSFhv3J/fFdFSKtYim3c14r3zjEyzqwVC3mL2/4DXjypXZ6CmPFzDE4dtryH5WL/AHf92o5Wi7irHZi3S1nge3R+Am75WH+w9LVBcBA85MUczSSxdIrv5JR/utVcw7Ikt2hvHeQLIJ4X2ybvvI1aKRDQos5ZP9VLjO8Z3/xf3qrmCyEWBfJErEYjVJdn8G3+NKOYLDVt5DxHHmP7nmv951/gpcxPKiSK32JseV2/3KOYXKhrraKcPbkMv/LWWnFSBqJXFxbwglCqfN9x1+9/sV1RgzFySLCpcvAWis5GhC486WMxRH/vutVSUjndZyOR8Y/G34ffA+5F5rHiK38TeKJ02QafYFG8v/gX8FaXVIhqT1PA/jJ8dvEnx9nsdCwLTR5JExplrJ8pf+8/tWMant3ojWNPk3PUfA/huHw9pcWnyafcL5aYadJMpXpUoypmdSa2OskSC3ilaNnEOfm2N/HXYmc5VYJuzIrSRsPlD1WoEuLa1lMiTAbF+dUpagJuNoxLoGz/AMsxQBLxFvAeR5k+clOtACyztLkBCN33eaAI/LdWDtGrr/cR6ZmtyO9dknx5jGVh8yJ/DQkaFZdlwpLSyGPd95KHsCGXM3zKI490S/8Aj9ZssrMzOVBZgD91KpMTJkuHFwW3bNnerIZrWzCLajTjdJ/AtaLcwZoxxMw+d/ujcy7vm21RPQVisw2IzxoOqNTJsLKrRO+7dvHKA0E2KDSuvmQRHMiDdu/goNBstzcJcBHjYqq/K38FAEfMvzo7OG/1i1mjRFS5LXCyKreWPektDRbGZcXUVlHHFcTb3RtjPlgp/CpckxsZJJHMIJpB1GVwc7WrDqVEsXNxGVk82fcVc+XtrTm1EyPXtNfV/C108k0i+X+92hv4aqorok8iu7G480Kls0qvyrpXjch1KZWNrd2xdXgut/qi0cgc5mXMnO1hJG39xz5dKcLFp3G27oUk3sSN9RHTY0SGRXV1YuTDNJZW5+5FG3FQq0ovUl6m1Z/EHXbR/Ki1LcM5y8ddUcZY53S5i/b/ABB1mCMJHcwJEw+bC4/9qVrHGdxrDIuXPxW8WahKSNTWNdu3dDGd+yplikx/V/MwtS1a+1tQNVv57xGfeI5JAV/74+5UTrcy0BUyESCV92P3ntXKlc6IwshFd5JtyN5hq1ERqzabeWFpbXTIdspxv31oooCrNI7rw1YPcS1On8CX7tPPaBtn2j95vr06MklqYTjqdjKv23zoW3vl/lYJSqagYcVxcJCp2JtUbN9c1rAPkuD9nEpkxt+TO/7++tbmjWg2Qmba0ZwuOmagyZ84Wsk4mzE6GD/ppXCdRv6PbtGfPil+dOhpjPU/AdzE+lT25jAeX7kielbRkSdYsgjTd5TxJnYybP4K1YzJuLhIYrhoX3/7EaVyyHA84uvF8Xhjx0dQ1S2nnsBBIm2NM1yyk0zSUT0bVfjJHpXgixtfCuptDcs+xbdk+df+/dbyq9zKMSz4Q8aa7p89m97CmutMgiayI2FP9uldMp6Hoek+JZSpaSCfZcP80TrvVar2dyfaGlaapp1xoLWw1MtKhwyzj5lpewH7QnbXLS4nsG/tC2WNPlMhbpS9iP2xYu54UfUJ5NUsI5rlIkhIk+8tX7Eh1hb/AFSwQ3ckOs2WG2qhkk+bb/F/yzqfZB7Yna/0jS5rjU77XLOO0dFgi8yXd8n1o9kHtSawvdOv9OeVPEWnuzKwacSIQq/XfT9kifamTqHxN8BaXeR2Vzrl9eusbOWsonKsf95Ep+wF7Y53V/jVaw3y22leHluLqQZhXUm8vzVq9IivJnC+JP2mfHun3osYdH8OaJGj7JnwXdPwqXXgtA9nJni/xP8Ai7qviK4uBqXijVNQt5EylppxFtEfxSsfauGx1eyjHU8u8HfDjxZ4+1EvZ2g0qwD/ADTHAkqHGddmvPCJ9SfCn4U6J4Hhhkldrm+fg3MicqK9nD0lS6HnVa56ol3aIrBH2AnLK9epdSWxzR98rhlQt9lbKN87JG9QMD5BCneEQd6NgEC5dWaP5W6pQBN5Ekj7lOzd0T+5QBJHC4tyk6fLjhjSAW5kBmEYAlWNfl8z79AESXcZjHlLvkb7qO9VYzW5XlLxzHz/ALxPzZfCUIsiWZXtEiNy5CH5MrSYIgmf7PcKsStJu+9ioepZDLPKG3ELn/x81K03EySEW8ckRXDsw4d/4apMlm5AY7c4biRTh2jrdbmDLsQj87e7lWPO9WrQgkZFtlkR/wDVv8xbG9i1A7FOdZlgCiNUJblt3zNVCsDyIrtEkTM6jmSb+GpGQ+bHbQMPNX5F+/QBCkseGfd+9UdXT71RY0RGbuPzYmEvkZfkuamxotj6N/Zmisda+G92pgt5St7NHIfLVi3zPt6V5NSTUhs+YJoI45L21uMTmDU7mIKqbNpWV66462CI2ArnIdZtv3fLNXNWYy1Ms1/o2pWcRjtZbm3aNS7dDmui+mpJ5r4amnOhWu2V55baQQBx/sSV48nqbWLt5e3URMqTH5RvfzEj+ekmgsJ4phTxB4Yj1Gay86/jfyZHVa6KkEgizzG3tyQz1570Z1x1G3UiR7VdsSfSm3FkgvnefsJ3k/8ALSs3a4c9ixvijm8l0PHtROyCzGOBLN8rUQs0GpJsyxUP5lXGBdy7JEzff/WiXui57EEjHZtJH3+9TzkkzyyskcbzSPCnVJHq/aAWI3ITayc4zUrVhEsQX50m4S4iLGZPuBK05raBJHc6JqX9q2TCe+kWWP594fKV1x1OclntyJZSTst1XkeX96oloMxrW4mKMsr8wNyayuaPY1CI54ow7KWjGz5XyOKoyZ4JZRwPJz+73p/yzriOotWyRW4Q25CUDOh0HxHf6NmRWEkW7544/wCOtFqJnqOk68usWAu4n2Qk8eYlaolhczwiBFKrul/uJWctS0YWo+E7TWo83Ufmx/cRz3rnauaqSMfQ/BEvhfUReWLfaUhfKJdp5iUvZBdGfqdj4t0zUEmt2Eq7ty+R/BR7ITaO08N/GTXdPYQa5pU86o+x5I1+fNVTlJbmHIzY1b496RY27+TYXbXDDbIrn7lOdeSH7MxbX4npOYJppoZ7RhgWknyPWSrSLlE6bRfGPg+cSSSi1imReJLiMPs+tbe3kYuBW1jxR4bg1T7ZaXWlTwld8qzwjJpNtm3Ic7efEjTxot1bpLZ3F0rfuEih6pWLYuQ4hdc1F70XdpHNbtH98oBWfLI00L97eatdCQ2MM4hlTfvc1ooyDQztQ0HxHezwz+aUlRNnmF/uUOk2RsS2nwzu7xka7uzM7fexhxVQoXHzHZaZ8JdGt2jkFsJcdwld8MOkYyqXO503SrXTrRYEiMC4+fn71ejCjFGDka0ECTKw8v7O6/6vDfIK12MyOaIxrLnaJR8rCncLEjLGGESRzCJI/mZGpcxRCpCGZgfl9mpasCe3YzSxqSsu3/no1CEWWn3GWTdlV+RUq1sSI92Y/LJX9zj5+Pv0xEdw2yZpSvlEH5VSmMrPcPu2pGq7vmZnNQUNSUQ3IkjcBNvG599FhEaPHbo067X2N8pqNRE4iN15UiEDd9xH/jq9h7lZ1CNs5880pCIrSSZ5VYb22t82alIRtxPI9hP5brG7fKu5a61oZlqErZ2hzM1x7oPvtVpkkjSA26/PtDD/AFbN8xouZjJZIleNfnkuFX7uKLlpFBU3vK7XDR/xqqP96pZVisAkkqqHkLewqbisTC6M88dsvkxEfxN/FQ7F2Gorl3dx5jO+zYi81Nwse+fsoan52keJrED5Yr1pht/2kjNebX0aKPn/AMRaclp448VWafvvs+qTnYH/ALzB/wD2pWkHoOO5UvInGYjKibf+eVdKfcZbtIoTOjbF86MZZ938FVfQZ5xZRxDVtYso2yYrlq81tM1JBElvEkavsXpms3qI2/CF291HqUFo5YLC02XT1NddFXgZVfiPLP3Yup3EhIMrDZ+FcP8Ay8Z0x+Ey7lbUSxXW1/Pf9ayqPkNOUgAjSWJHd8/xyVjGDrAOwIxs3gf9dKv2dQdo9yYSqd77jnZ8laKnUQWj3JoJ4fMQM75/jxS5XEkuxxwzx7oJWfP8ElLnsFymkRD78D5HrPnsW2WLKdLOORjh93/PSrT5iLEluXj/ANbu2PwlBQphLgvuf/tnQBoWV0bWMqVYphOa1puxk0egw3MX2ZTdP5kWf3SV0PUzsZs3kxzxyCPyZN33azAlWSMOzyLhpPnoGfP1po11Gkfzv5kf/LWuM6S7HHKp2u7/ALwelAG7Y+ZCVmY70/uelCuJnpGg3ivokK+R5Kj95srS5LJANu+4h4OPkSmaMuW88T/IJEiR/wB4PM60rXM7ljy2ed1EnO/8au6C42TzLq1iYW5KR/eb+/RzIdxstgm1JJiEG3/WRUPlRfOYFxpMMkjzeTIpP/LMnG+o5YyDnFOmwFTJbQxLn/nolHLFBzX0GyadDJudraN933JDHRZBcjfR7SFIWktEx/q/L2YqbBzjjbx2UhEdvEE/56RpTULhzmmlhcS2rsWjhcpvSjlC6LH2KWIRTCV3V6vkC5O8ceD5j5R0+5s+enZEs1LSyP2yESRMke1Mt/frqpxuYORpwaY4yGmIXts/Wur2bMbE0NlO7xPKS575ars0OwphSdlQhz/tf3asQ6VWgQF9r7f79IZWgvVuWUFfLmb5djpWOoXHGVQdrTMzN95FNbRGOjVov9UsRQN9xkoRJbAuSPLmJ+98qRJVokhco1yxcy+WV+6/8LVN2UOffI+4tIsSrzj+Ki4xGvGVGlQq2PlZHP3aAuRwxH7PIygyoq75Hp3EVntIbhyyW7u7cfeqLiJpl8qNQFdSX+5VgUpy1tE5d+C33HrNsTLVlam3kj4kweN+6riHQ0o2vGbEgJiXo6VtojNltYZIEjd7SPzW4+ZqLkkSqk0+drS+rqnybqd2FguFlhEks3yShvlT+PbTTKKQuHjaR3iaJQv8a8VLLsNjitnuFHlthW3bJhUN2FZC3TEPJlP4v3QVKoqwRXAKGKF5JQx+TCVm9R2PZ/2SrpbfWfFFieH/AHUjH8Nn/tOuKurkHnPxqtJdK+MPi1Fh8lJ1trpGiP3kdPLenSehSONXy4F2rC8M7Km4BPnT/froTAfcahb6Pps2qTQ4tLc5eR/4hVeTHsecaA11qH27VZ7bbc6jO8ypJzsT/lnXkt9DY1W+e3xIu/5KroI1PA6CLWZomkWNJYmhR3PvXZhdabMqvxHlmraYbbU7wyTu8hd9nPtXBU0nc6Y/CZlwq48uON2lkkWOODH32cZRKVKKrvUHM7rXvA/h/wAD63caB4n1DU9U8TW8cc17pmhQ/wCj2sksKTJC80n332OfuV6FOk4q8UYyqJbmLNrng+ylhjHhGe6l/wCeb3Mm+sfc/wCff4haRebUdDN0i2PgO4YEvuVJHfmrvD/n3+IWZnTX/hriSbSNR08SjLGOWSTZ/wCRKy5bjuaGn6Ho+pbpdN12O3mKeYkN8P8A93S9jdgZGuaRqPhownU7OSBbj/VXCHzFf8KzrUVFaG6ZVF1mLCfcH/LOuSDsaIRbne+XAqxFmKQxjarPQBIZtl98g8xP48U9hM67wzfzeYtuRuH8GK6oO6IaNa6WKIxyx/Imx/nRKkzK0Vs2wOkqANznHWncR4jHfiNmVX+SuI9Elku4rhnhJ8x88igC54YNzqXiSzsftCnyv+enWSmp3MT16CwmitTCuz9ynyeYlbJX1JJlhbZJ8pLr/c4qOUCw8DxKqtAsqN8+9Eo5QHRTPghINrpzv2Vtyk2JnATMRaKPY3zJsosOxDqFqp85VABfI37qU3dDILVGt47fhBs/8frKK1AleJXtZYIrdNzN02VqBWXTzt85U+eJ/nTZQAwyo58ySPK7/IcbKyAbNZhJV8mTdC3D0XAtrFEhTaV27Nnz0JXILyLJDB5iyspb+D+CtLXGXYYIFKzYVodvzPWyRTZft7Yy24khKuM9Xf7tdaOd67D1dltwJ1wn3VYirTM7D0tpZrbaMNIWwr7vuVon3GOuZiy8P5TouW2v0qJMCFLmaOEOqxOsjfMjffpxa2EQorXMQcxwl/7+ypGLDO1vEmbUg7v9bHVICeSR5YHJOf78UlaWJFilKz/IAiqvy0NAOCbpZJmBiVU2N/tUtgHXLL9nc5WZk/5Zf3aQ2QRzpDMobdApX5kdKzGMjR3icAsLdm/76pATSkJCWDtKrPldn31rVu4FaWC5ljuo2aRYukbPUXQiu5R4ljWdJZD93etS3YRa0t5GklbCyFec1tAlFtPMaBY/JkOT81aoT2LLOjWbzEiQlflVKFvYzZaVo5jBH8kKuu4QwpWgwv3tZLdyvnyhf7jbERqExlGSOJW8yUMqKfu7PvVLZZTRG3SFEikcdd6VjJCJY2lSSQNGlvGq/ej/AI6QCQeU1w8jN/un+/QB3XwC8YaX4J+Izzavf2+m6ff2Xlfabh9irKjnYlYYiLcdBsl/aW1PStT+IWjXui+IIdSt7vTniuYbBkmI2vvTGz+/5n/jlZUYO2ojzgXKX0alnZZZ8ndtrs2lcb1MPxrcGV4fDyRO1rF++maR/wDj4Fc+KlzR0GkZp8+dgseUn3FT61wo2Fu7G4s72WK4QoyJ8+XxTvcCKz1CWw1C2umCyxW5+7/fq6b5XYiotTm/iZFMPFMl0hUWt3yiN1T/AGKMX70C6bscW16w3hCwaEoYzH/rEc1yUp8pvLU7yb4xLrtvb2vjHRo9cWEHbcwJskB/2x2r1KeIUVozllSctRsT+AZJRLa6veaJOH/cm6g3bP8AyHH/AOjKtTodRNux02j67pnh90vNH8b6Xc3SxuWjkg+c/wDkSStVLDtWMHzHPalFc61p1xHN4j8NWEc7RNKp/wBc/wC8x/zzrmbgtjaLkcqvhPTmQifxTp0WR87Wyb3/AO/fmR1i2rnQpS2sbniTxpYXXgm28H6Kt3e2q3iX15rurPi4m2J8kUMf8CVVetzamUaZyf2xZfkhXlOMV5fxM7oRshCPLeT71WSSwzCN9+NlAF0yHy8LF/yz+ejQzsTx6rLayFE+QJ/y0Q07gWbbxPfQLtY7z0OK19oNhL4yvIXyYo9zcnbHS9oQ1c89ksXtPnW2L59RWB2DYftM0gVbU73/AOetAGp4fgutG1aLUZkSeNfaojGxid4PHsqLCkVpkunCb63jKxJFP8RIYIz5dskD7/n+fpU3NLFaX4r3Eb/u7UZP3P3lFwsyF/iteGIp9hR23/6yR6fOSSXHxQ1a4j8+Sytw/X/WUc4HS+Ftbm8T2BuJlSH59nkOK0gSdC9obZiwE2+Ju71ctAJ5N+2Nid+z7lUAkzLFI00zNsY/dXy6XQBizJLF5T7oonxv3rWDAyxG7zuYfup/z0SgC4mmx20ii5mhmhZfuJ6VqiC/pkvlIsST+Y0bc7qtFI0orZbRJCL4A7vmFdKRhcQufMinUCBCmXStUhD7K5jgneCSIxhF+X/boAkcw+VKEL2y7sb0HSquOyEnurZGJjkbCfe3p98Vk2Ggy21UXSkbV/1uzGzvQmLQkX7ObiSRECRZ/wBYr/erQkaJRLZ/IG5P8b1aAsLJE/l3EibQTkGtCR6qsr8q33t2/ZSAdBbgmSYpsEq7NtIYwY2uUKK3VHb+5QIiIE+1ZEj8uNflnT+/WRQ2aRfLDrcsJR9496AGLPNfggRK6Fv9xKpiEv52hjMr20iyRn5kQVIFDzclmIU/J85mP3KhsWpat3FuqTqyo0n3UStoako1raRIWG9vPkb70SJv31uJ7Fq1Z45HPl/K38I+5spmbGy3BaTy42UndyNv/jtUrDFllZkWJCVnVMbFTy1Z6AKnnTeZkHyy3R/7lQWNFy2oSiUxOd/y/O+cU7ALLJILc7yYkZvmRPvotZAR+ZZCVIrd51THzO/36NQKo1AMsaRxGJIh/rXXhqiMmxyC/NokSupggd/lZI4/u/7b0m7AkTaTNtE4VBcW8ETXBaN9m8U0/duJHkXhvW77xRe6pqepRyG6lndIhcP9xfMrypTcpWOimup1/wBmQRLsjCLjpirAiuYBAcu7MG+/gUIRlajO0V0jwoh+T7/9yspPlkPcmvVTUvD7G52TXFv5ki+ZW8veRm3Y89aLIdifkeuFxOtaDI1UmPqPn7UcpqpWJWzP8m0j8ad6fcV49ird2KzA5iy/uKbnTWwe4UptBsZ1ke4JSMdoxU+8O8SiPDX2e6jeHUZreCN/kjHSi0u4uaPY2bVweQPMEdJXluDViWTzZfuKmXHrVbBz2GLO5ufKj2fvH/5aUCI5pOZE3J5aD/lnQAW6vIZEI+f/AKZ/8s6V0KyFu7qbZ8kSD5/nougsg81GXY3yP6x1NimrFyO5+0wo+7Ye/FOxkzzS41XVNPk230V7Ze95bPHH/wCRK51M6fZstWXiCSKUSRXImEn8EPStFUQvZs1ofFrTxbWn8v8A66VpcoLXX7W4aNbptkf8EkcdFxGpBY2F0krpe+f/AHD5dF0Mrzaa2YmtpvuffjkougNOx0mCZ1E8o8xPveXTujE0LjS7Hz4omRtm75s/3KLoDtrPX9G060isY2dIk+4+ytfaMksf8JRplq6SiXzQ3/PMU/aCNGynYGWRt0xb7tHMKxIwvI5Vl+yvGqP/AKyjmHYmeDULiQsYo4oN/wAjxitrILAY55i+AET+OPZ0eiwrFq00+4mkV5YcRK+JXjFVyRM9S80GYogiiaXd/f2bKtQj3KuWDAwCuLGKWJPnCZ6VveJNht4gkQJFsUB9/lbvuUXiDRUlguFkiMqhIlX5XRvnqPd7kFgJcTLFuVtq/Jv3fPS93uO4x4wbfEkIlw33N2Xo93uLlJntpLeOKJUkixwq4Sj3R8pJEhiWKRAqNs+aJx89be6LlFkUvHHIWaIM29zsp3j3DlJba3e9DhJdjJ8zuwNVeJHITSNPcxzBI2+1MCVZG2bqtOIcpK6XADLJGybR99Qap8ozMSKMiTzUYvj0rGSQD7uAW9vClrK8kYbAO6pXKOwTYtkXzJPJiZ/k3x0e6OxWlF0HZmmSIy/dRZDUc0RcpFMCsbu88Jbbje5o5oit5lWKSJyJJJYPn/gjaoTjcbkzQhlto13x3Nt8/wDtJ8tbKUSbstRSx20MM0N7GJWk6xsfuVunAhpmiZkSYRNPjav7wefWqcDFxZC91EiR2/223ZE+6ySUuaHcrUYFSK23/abdDEPvefxRzw7j94kc/ZlX/SNsRPzcp89RzxH7xXMTjG7a9ts5cnPyUe0iHvDjZG4EW0kTN/z1b7tS5RNDIlhSEytbL9plU+SzlsIKycl3Gi1cYedGbZAFKblR+lNtEmdexlJYpHDbJG+561k3coreI47LS/B2qTTE3Ut0/wBmtoZZdiO9ROI4aGBotqLbTrO0ZVQQphtlc17M25rGvG0Xlg7tjH/lpsoIK13EzRoysmX7PVIRlyPl3LuvySeWoSsnozSLLUF5bzaUIDB+/wB+cRn79dEHYzmtTir+xexu2hJCdkOa5p9zoTM14QZPWs0jRBE7Y2Kg/KosjK4xo2L7vMHmUuVDGfOCNh3uX/5aVZZVnmTf+95/v+WlJgQrp0T35u1u5SnaMyVmojuzRglU3EnLbPatUFxl2luJH8pfLj/gjNIRXa2mSYiSBkg/gekACYmX91sT93TAncIUTDcCTHElAEF3JsZyr+Z/t0gITIw68GsgPp64uBbW8Vwt6skZT5mniSZkf+5/338n/bSvIU2etyHE/Gj4QeDb34Q6v4uu9Ot/CnizTXU2F7aW/wBm/tYN/ft/4X/1n3P9j+/WsZsVrHzHCoaGOSTIyO9eimee2IBA7leUj/6Z0cwXLnhy0vzrqS24m8jHzy+9HMM7+6slmO/zHXn/AFcj0cwDLOGVbPeofy+tFzIttJLHl3anzAK6Psc7cR/346eo7MdGDBbSK8e/PWjULM1IvEdzHGpjuGSHr+7NbE6Ev/CQXYTy47l/J+/nigeg6TXbua3VZbqSTPITFL2gtBza1dJlHupOEp+0YaEg1O/DbVvZ03fcJcULmYuUlnv7uWPD3cuz+OM4rRcw+QiF7MVCvcTkhPQVn7xA+K4kkUEXkr7E+fzAKPeCxQl1x1l/eXc7H/nn8/NO0ivZguvS+X8st3JI/wBzKP8APRaQezEttSMs0jN9oPz4eR0enaQuUuTapeSbGSWdifu+YXpWkPlIEvr55NzfbvL/ANx6r3ibEj3GoRSfMdRdf4H+f5KPfCw271S90+WPzBqQkZONu+mucXKIviOaBN6tqG7+/ser98OUmi8VX43ZOqbR9/ej5qeaYuQlXxJembZJNqPlt/yzCvT5psOREc19qNw5xFO6/wByPFVaRFhY21eZ08m1vDCU+Ty8Ue8Fib+z9WgjeZbSWNP45J8fJU8kgt5kL+G9VuHjd7Z/O2/Im8UcsgsNTwfqrMWWyeT/AGEFHK0WpxGDw5q8d0X/ALNjjTfkR7x+8p8skaXiXLnwjrwaJhYcN91IxWvsp9zPniInhbW0mKtp0+G/55sKPZT7hzRFXwnqiXIVtKbd07VHsancnmiOXwzrDysselTuTj/VgUexqdx80StJZahbMJBYXMEi/wAEm+s7THeJA13qUTF5Le7gT+E/PStILxEl1e83OJ57r502eX89K8yFTQ+31PWbcR+TJdJAw/1hPFP3jRU1Ysw+IL43EhMtyjK/+scitPavYhUyaPxfeysd141z3+ZKrnL5CjqnimHWLq1tbieQjT/4NnyF6UqzZKgjX0++tA52YyE+QhKhXkKUbGmvk+VIGuEIdMeZWhBJNGLqIrGcs7FYoxJ9+kIzruy8hmhuZY98XyPIjxv+8qJBHcit3lhTdbSGNo//AB+iLNJIxdYik1e6TU7m8t4WlHyQIlOY07mPPHBG8P8Ape+T+P5KziWhsRtI3dPtYzH/ALFTYBu62G//AEj/ALZ7KLBYhRLa3A2vv/d0ixPs9pK6b5nR89DSAluNDijsXuY7jesJ+etGiTOFyG5T5PxrMmxE908DRlTjY/TNBoMvtXvLuLFxc/aE39aQEUkEL2Pmrcf6Vv8A9WKALccUoSDc6SSNJ2pgPFmlvOImlROf9Z5lAGfLAVOyKUBV4+TpWQH0z8RdYu/BmiJNo0i2Vx/aIT7QI1eba3l7h5jAtz9a8WB6sj5H+IHjXXfGPj25j1rVLnUYrdv3STPlV/AcV6EEjgm2ZMZ/cSHvvNbElWBA+owIwyvPH4UAj0m0iSG1GxQvJ6UGYeYwl2bjt8vpQBdS4kSKPDkfNWoF4EhH5/joAht7qUF/m/QUAdJ4NsLe/aYXESzBXGN3atGB19ro1jGGRbSIKzjI29aoyJbLT7Y2v+oT5Rx8vStQHzaVZi4u1+zR4Eqfw00Jm7NpVnDdBkto1OwjIWtFsBlPY26X6bYUBx1ApIctzWgt4tv+qj/75FbIxZDhJJoN0MLYi7xL/hTgCJrrTbVJl228Y+X+7TmV0MssFi4jiH0iX1+lZy3EmJpV9LKkpbYSuMfu14/SpW4NseJGmnUOdwB4zW1jIme5lhZPLkdPk/hOP+WdLoFytFLJMSHkdhnu5oihXN1STFIuTt29M10oYxhsIKkjapxg9OlSSPkJjmSJSVj2/dBplFmUeZ5asWKsCCCTzXRFLlGULQm5nZZWMihBgMc4rlS1ZJHBEolk4/v9/pVMpCC4lijG2Rl/c9j9KVkO5XkmdrSIliTKnzn+9UtaibZUlO4RSnmQrnd3qGK5DBKwaPn+OpiU9jTsIUYhiozn/wCN1v0JLDuyXxYHB9a16GfU0BBH5xXYNqtwMdKYxzQoIXfaN2Ov4VoKRTvB5G/y/kwj4x2qWiY7FSdjby7IiURsZAPWsGiyFJHkkhZnYsuzBz0qWhovRHd5meflFVYCKyjRpbXKL/H2oYJsyp9RuGnlBcEeXn7o/wAKzsirkx0u0u9TgE1vHJxj5l96HsC3OK0cAJf/ACrzdOeg9K857nQ9i+qgyxfhWi3M2XrjBthlV6f3RUkk0llA0UeYlPKdqAMm9s4UgiCxqox0FAFO4tYl0+7wv3uvJ5qJdCzLRF/sgjHEMn7v/Z+lDNTGyWuXY8tsHNZlCRovlAY430hEcihJQAMdP/alAylcE7Rz/wA86YgHVv8AfNJga3hv96dSgbmHyfuV00fhM6vxGHcRKC+FHyqMe3Fc8/iN38KDJCdaOgyq3LMTyaQFWH/XfjWYGhIT9lh/z2rUCcgMXz70EAY1kJLDJz3oYj//2Q==`;
	//document.cookie="data="+base64;

 //window.location.replace("/infer");
		$.ajax(settings).then(function(response) {
			if(settings.format == "json") {
				var pretty = $('<pre>');
				var formatted = JSON.stringify(response, null, 4)

				pretty.html(formatted);
				$('#output').html("").append(pretty);


console.log(pretty)
				$('html').scrollTop(100000);
			} else {
				var arrayBufferView = new Uint8Array(response);
				var blob = new Blob([arrayBufferView], {
					'type': 'image\/jpeg'
				});
				var base64image = window.URL.createObjectURL(blob);

				var img = $('<img/>');
				img.get(0).onload = function() {
					$('html').scrollTop(100000);
				};
				img.attr('src', base64image);
				$('#output').html("").append(img);
			}
		});
	});
};

var retrieveDefaultValuesFromLocalStorage = function() {
    try {
        var access_token = localStorage.getItem("rf.access_token");
        var model = localStorage.getItem("rf.model");
        var format = localStorage.getItem("rf.format");

        if (access_token) $('#access_token').val(access_token);
        if (model) $('#model').val(model);
        if (format) $('#format').val(format);
    } catch (e) {
        // localStorage disabled
    }

    $('#model').change(function() {
        localStorage.setItem('rf.model', $(this).val());
    });

    $('#access_token').change(function() {
        localStorage.setItem('rf.access_token', $(this).val());
    });

    $('#format').change(function() {
        localStorage.setItem('rf.format', $(this).val());
    });
};

var setupButtonListeners = function() {
	// run inference when the form is submitted
	$('#inputForm').submit(function() {
        infer();
        return false;
    });
	
	// make the buttons blue when clicked
	// and show the proper "Select file" or "Enter url" state
	$('.bttn').click(function() {
		$(this).parent().find('.bttn').removeClass('active');
		$(this).addClass('active');
		
		if($('#computerButton').hasClass('active')) {
			$('#fileSelectionContainer').show();
			$('#urlContainer').hide();
		} else {
			$('#fileSelectionContainer').hide();
			$('#urlContainer').show();
		}
		
		if($('#jsonButton').hasClass('active')) {
			$('#imageOptions').hide();
		} else {
			$('#imageOptions').show();
		}
		
		return false;
	});
	
	// wire styled button to hidden file input
	$('#fileMock').click(function() {
		$('#file').click();
		console.log("browse buttton clicked")
		return false;
	});
	
	// grab the filename when a file is selected
	$("#file").change(function() {
		var path = $(this).val().replace(/\\/g, "/");
		var parts = path.split("/");
		var filename = parts.pop();
		$('#fileName').val(filename);
	});
};

var getSettingsFromForm = function(cb) {
	var settings = {
		method: "POST",
		crossDomain:true

	};
	
	var parts = [
		"https://detect.roboflow.com/",
		$('#model').val(),
		"?api_key=" + $('#access_token').val()
	];
	
	var classes = $('#classes').val();
	if(classes) parts.push("&classes=" + classes);
	
	var confidence = $('#confidence').val()/100;
	if(confidence) parts.push("&confidence=" + 50);

	var overlap = $('#overlap').val()/100;
	if(overlap) parts.push("&overlap=" + 50);
	
	var format = $('#format .active').attr('data-value');
	parts.push("&format=" + format);
	settings.format = format;
	
	if(format == "image") {
		var labels = $('#labels .active').attr('data-value');
		if(labels) parts.push("&labels=on");

		var stroke = $('#stroke .active').attr('data-value');
		if(stroke) parts.push("&stroke=" + stroke);
		
		settings.xhr = function() {
			var override = new XMLHttpRequest();
			override.responseType = 'arraybuffer';
			return override;
		}
	}
	
	var method = $('#method .active').attr('data-value');
	if(method == "upload") {
		var file = $('#file').get(0).files && $('#file').get(0).files.item(0);
		if(!file) return alert("Please select a file.");
		
		getBase64fromFile(file).then(function(base64image) {

			console.log("base65 data is "+base64image)
			settings.url = parts.join("");
			settings.data = base64image;
	


			cb(settings);
		});
	} else {

	console.log("not a base64 image")
		var url = $('#url').val();
		if(!url) return alert("Please enter an image URL");
		console.log("encoed url is "+encodeURIComponent(url))

		parts.push("&image=" + url);
		
		settings.url = parts.join("");

console.log("here are the setings")
		console.log(settings);
		cb(settings);
	}
};

var getBase64fromFile = function(file) {
    return new Promise(function(resolve, reject) {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function() {
            resolve(reader.result);
        };
        reader.onerror = function(error) {
            reject(error);
        };
    });
};
</script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">Signal Sense</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="device.html">Device</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>Welcome</h1>
                <h2>View Detection Running On An Intersection</h2>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="device-option" onchange="saveSelectedValue()">
                    <form action="device.html" >
                    <option value="0">Select Devices</option>
                    </form>
                  </select>
                  <a href="device.html" role="button" class="btn btn-primary btn-lg">
                    <button type="button" class="btn btn-primary">
                        Next
                      </button></a>
                <h1>Or</h1>
                <h2>Run Detection On A Photo/Image</h2>
    <form id="inputForm">
		<div class="header">
			<div class="header__grid">
				<img class="header__logo" src="https://uploads-ssl.webflow.com/5f6bc60e665f54545a1e52a5/6143750f1177056d60fc52d9_roboflow_logomark_inference.png" alt="Roboflow Inference">
				<div>
					<label class="header__label" for="model">Model Name</label>
					<input disabled class="input" type="text" id="model" value="traffic-signals-mcmpm/7" />
				</div>
				<div>
					<label class="header__label" for="access_token">Access Token</label>
					<input disabled class="input" type="text" id="access_token" value="J75OVf8NP35SMck8OfdL"/>
				</div>
			</div>	
		</div>
      
		<div class="content">
			<div class="content__grid">
				<div class="col-12-s6-m4" id="method">
					<label class="input__label">Upload Method</label>
					<div>
						<button data-value="upload" id="computerButton" class="bttn left fill" >Upload</button>
						<button data-value="url" id="urlButton" class="bttn right fill active">URL</button>
					</div>
				</div>

				<div class="col-12-m8" id="fileSelectionContainer">
					<label class="input__label" for="file">Select File</label>
					<div class="flex">
						<input  "class="input input--left flex-1" type="text" id="fileName" disabled />							
						<button id="fileMock" class="bttn right active">Browse</button>
					</div>
					<input style="display: none;" type="file" id="file" />
				</div>

				<div class="col-12-m8" id="urlContainer">
					<label class="input__label" for="file">Enter Image URL</label>
					<div class="flex">
						<input value="https://scx1.b-cdn.net/csz/news/800a/2012/lengthofyell.jpg" type="text" id="url" placeholder="https://path.to/your.jpg" class="input"/><br>
					</div>
				</div>
        
				<div class="col-12-m6">
					<label class="input__label" for="classes">Filter Classes</label>
					<input type="text" id="classes" placeholder="Enter class names" class="input"/><br>
					<span class="text--small">Separate names with commas</span>
				</div>

				<div class="col-6-m3 relative">
					<label class="input__label" for="confidence">Min Confidence</label>
					<div>
						<i class="fas fa-crown"></i>
						<span class="icon">%</span>
						<input type="number" id="confidence" value="50" max="100" accuracy="2" min="0" class="input input__icon"/></div>
					</div>
				<div class="col-6-m3 relative">
					<label class="input__label" for="overlap">Max Overlap</label>
					<div>
						<i class="fas fa-object-ungroup"></i>
						<span class="icon">%</span>
						<input type="number" id="overlap" value="50" max="100" accuracy="2" min="0" class="input input__icon"/></div>
				</div>
				<div class="col-6-m3" id="format">
					<label class="input__label">Inference Result</label>
					<div>
						<button id="imageButton" data-value="image" class="bttn left fill" >Image</button>
						<button id="jsonButton" data-value="json" class="bttn right fill active">JSON</button>
					</div>
				</div>
				<div class="col-12 content__grid" id="imageOptions">
					<div class="col-12-s6-m4" id="labels">
						<label class="input__label">Labels</label>
						<div>
							<button class="bttn left active">Off</button>
							<button data-value="on" class="bttn right">On</button>
						</div>
					</div>
					<div class="col-12-s6-m4" id="stroke">
						<label class="input__label">Stroke Width</label>
						<div>
							<button data-value="1" class="bttn left active">1px</button>
							<button data-value="2" class="bttn">2px</button>
							<button data-value="5" class="bttn">5px</button>
							<button data-value="10" class="bttn right">10px</button>
						</div>
					</div>
				</div>
				<div class="col-12">
					<button type="submit" value="Run Inference" class="bttn__primary">Run Inference</button>
				</div>
			</div>
			<div class="result" id="resultContainer">
				<div class="divider"></div>
				<div class="result__header">
					<h3 class="headline">Result</h3>
					<a href="#">Copy Code</a>
				</div>
				<pre id="output" class="codeblock"/> here is your json </pre>
			</div>
		</div>
	</form>

            </div>
            
        </div>
        <!-- Bootstrap core JS-->

    </body>
</html>

<style></style>